:host ::ng-deep {
    display: inline-block;

    .compact-dropdown {
        border: none !important;
        padding: 0 !important;
        min-height: 0 !important;
        align-items: center;
        line-height: normal;
        background: transparent !important;

        .p-dropdown-label, .p-select-label {
            color: var(--base-text-color) !important;
            background: transparent !important;
        }

        .p-dropdown-trigger {
            background: transparent !important;
            color: var(--base-text-color) !important;
            .p-dropdown-trigger-icon {
                color: var(--base-text-color) !important;
            }
        }

        .p-inputtext, .p-dropdown-label, .p-select-label, span[role="combobox"] {
            padding: 0 0.5rem !important;
            margin: 0 !important;
            display: flex;
            align-items: center;
            min-height: 0 !important;
        }

        .p-dropdown-trigger {
            width: 1.5rem;
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 0 !important;
        }

        .p-dropdown-clear-icon {
            right: -1rem;
            color: var(--base-text-color) !important;
        }

        .p-chip .p-chip-text {
            margin-top: 0.1rem;
            margin-bottom: 0.15rem;
        }

        .p-chip {
            background-color: var(--base-fg-color);
            border: 1px solid var(--border-color);
            margin: 1px;
        }
    }

    .compact-dropdown-panel {
        background: var(--base-bg-color) !important;
        border: 1px solid var(--border-color) !important;

        .p-select-header {
            background: var(--base-bg-color) !important;
            border-bottom: 1px solid var(--border-color) !important;
            color: var(--base-text-color) !important;
            padding: 0.5rem !important;

            .p-inputtext {
                background: var(--base-fg-color) !important;
                color: var(--base-text-color) !important;
                border: 1px solid var(--border-color) !important;
            }
        }

        .p-select-list {
            padding: 0 !important;
            .p-select-option {
                color: var(--base-text-color) !important;
                background: transparent !important;
                padding: 0.5rem !important;
                margin: 0 !important;

                &:hover {
                    background: var(--client-type-bg) !important;
                    color: var(--base-text-color) !important;
                }
                &.p-select-option-selected {
                    background: var(--client-type-bg) !important;
                    color: var(--base-text-color) !important;
                }
            }
        }

        .p-select-empty-message {
             color: var(--base-text-color) !important;
             background: var(--base-bg-color) !important;
        }
    }

    .selected-item-content{
        max-width: 25dvw;
    }

    .api-revision-filter-button .p-selectbutton {
        display: flex;
        justify-content: space-between;
        background: transparent;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--link-color);
    }

    .api-revision-filter-button .p-selectbutton .p-button {
        flex-grow: 1;
        text-align: center;
        background-color: transparent !important;
        border: none !important;
        border-right: 1px solid var(--link-color) !important;
        color: var(--link-color) !important;
        font-size: 0.85rem;
        padding: 0.25rem 0.5rem !important;

        &:last-child {
            border-right: none !important;
        }

        &.p-highlight {
            color: var(--primary-btn-color) !important;
            background-color: var(--link-color) !important;
        }

        .p-button-label {
            font-weight: normal;
        }
    }

    .emphasis-badge {
        border-radius: 5px;
        padding: 0px 5px 2px 5px;
        font-size: smaller;
        font-weight: bold;

        &.info {
            background-color: var(--alert-info-bg);
            color: var(--alert-info-color);
            border: 1px solid var(--alert-info-border-color);
        }

        &.warn {
            background-color: var(--alert-warn-bg);
            color: var(--alert-warn-color);
            border: 1px solid var(--alert-warn-border-color);
        }

        &.success {
            background-color: var(--alert-success-bg);
            color: var(--alert-success-color);
            border: 1px solid var(--alert-success-border-color);
        }

        &.secondary {
            background-color: var(--alert-secondary-bg);
            color: var(--alert-secondary-color);
            border: 1px solid var(--alert-secondary-border-color);
        }
    }
}
