:host ::ng-deep {
    .p-sidebar-right {
        width: 20dvw;
    }

    .author-table-data {
        vertical-align: middle;
        font-size: 0.9rem;
        font-weight: 400;
        img {
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}