:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host ::ng-deep {
    .p-datatable .p-datatable-header {
        padding: 0.5rem 1rem !important;
    }

    .p-datatable .p-datatable-thead > tr > th {
        padding: 0.5rem 0.5rem !important;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.5rem 0.5rem !important;
    }

    .p-fileupload-row > div:first-child {
        display: none;
    }

    .p-dropdown {
        display: flex;
    }

    .author-table-data {
        vertical-align: middle;
        font-size: 0.9rem;
        font-weight: 400;
        img {
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}
