################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################
/.github/CODEOWNERS                    @azure/azure-sdk-eng @jsquire

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/.config/1espt/                        @benbp @weshaggard

###########
# Files used to manage tsp-client version and installation
###########
/eng/common/tsp-client @catalinaperalta @raych1

###########
# Eng Sys Tools
###########
/tools/                                 @azure/azure-sdk-eng
/tools/azure-rest-api-specs-examples-automation/ @weidongxu-microsoft
/tools/codeowners-utils/                @weshaggard
/tools/fxlister/                        @KrzysztofCwalina
/tools/github/                          @jsquire @ronniegeraghty
/tools/github-event-processor/          @benbp @jsquire @ronniegeraghty
/tools/github-team-user-store/          @weshaggard
/tools/issue-labeler/                   @jsquire @jeo02 @radhgupta
/tools/js-sdk-release-tools/            @qiaozha @MaryGao @JialinHuang803
/tools/keyvault-mock-attestation/       @maorleger
/tools/perf-automation/                 @mikeharder @benbp
/tools/perf-automation/**/*Rust*.cs     @heaths @LarryOsterman @RickWinter
/tools/pipeline-generator/              @weshaggard @benbp
/tools/pipeline-witness/                @hallipr
/tools/sdk-sample-generator             @deyaaeldeen
/tools/sdk-testgen/                     @lirenhe @tadelesh
/tools/spec-gen-sdk/                    @raych1 @chidozieononiwu
/tools/test-proxy/                      @scbedd @mikeharder @benbp
/tools/tsp-client/                      @catalinaperalta
/tools/typespec-bump-deps/              @weidongxu-microsoft
/tools/content-validation/              @xiangyan99 @zedy-wj
/tools/perf-regression-finder/          @m-redding @jsquire

#####################
# Attestation
#####################              
/eng/pipelines/cpex-attestation.yml     @smw-ms @praveenkuttappan @maririos 
/eng/scripts/Attest-CPEX-KPIs.ps1       @smw-ms @praveenkuttappan @maririos 

#####################
# Azure SDK Tools MCP
#####################
/eng/common/instructions/azsdk-tools/   @maririos @praveenkuttappan @MrJustinB 
# PRLabel: %azsdk-cli
/tools/ai-evals/azsdk-mcp/              @jeo02 @smw-ms @praveenkuttappan @maririos
# PRLabel: %azsdk-cli
/tools/azsdk-cli/                       @azure/azsdk-cli
# PRLabel: %azsdk-cli %design-discussion
/tools/azsdk-cli/docs/specs/            @azure/azsdk-cli


###########
# Stress
###########
/eng/common/scripts/stress-testing/     @benbp @richardpark-msft
/tools/stress-cluster/                  @benbp @richardpark-msft

###########
# .NET Client Tools
###########
/src/dotnet/                            @azure/azsdknet @jsquire
/src/dotnet/APIView/                    @tjprescott @AlitzelMendez @helen229 @praveenkuttappan @maririos
/tools/net-changelog-gen-mgmt           @ArthurMa1978 @ArcturusZhang
/tools/snippet-generator/               @Azure/azsdknet @jsquire

###########
# APIView parsers
###########
/tools/apiview/                           @tjprescott @AlitzelMendez @helen229 @praveenkuttappan @maririos
/tools/apiview/emitters/typespec-apiview/ @tjprescott
/tools/apiview/parsers/cpp-api-parser/    @LarryOsterman
/tools/apiview/parsers/csharp-api-parser/ @azure/azsdknet @jsquire
/tools/apiview/parsers/js-api-parser/     @jeremymeng @maorleger
/src/swift/                               @tjprescott
/src/java/apiview-java-processor/         @JonathanGiles @alzimmermsft @srnagar
/src/go/                                  @jhendrixMSFT @chlowell @RickWinter

###########
# Pylint checkers
###########
/tools/pylint-extensions/azure-pylint-guidelines-checker/ @l0lawrence

###########
# Azure SDK Q&A Bot
###########
/tools/sdk-ai-bots/                                 @lirenhe @chunyu3 @JiaqiZhang-Dev
/tools/sdk-ai-bots/azure-sdk-qa-bot-backend         @JiaqiZhang-Dev
/tools/sdk-ai-bots/azure-sdk-qa-bot                 @chunyu3 @JiaqiZhang-Dev
/tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation      @chunyu3
/tools/sdk-ai-bots/azure-sdk-qa-bot-function        @JiaqiZhang-Dev
/tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared  @chunyu3 @JiaqiZhang-Dev

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml         @weshaggard
