#css output
wwwroot/*.css
wwwroot/*.css.map

# Typescript output
wwwroot/*.js
wwwroot/*.js.map

# Angular SPA build output
wwwroot/spa/

# PlayWright Tests Results
Client/test-results/
Client/playwright-report/
Client/playwright/.cache/