<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect requests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^apiview\.azurewebsites\.net$" />
            </conditions>
            <action type="Redirect" url="http://apiview.dev/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>  