<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect requests to default UI instance domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^apiviewuat\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://apiviewuxtest.com/{R:0}" />
        </rule>
        <rule name="Redirect requests to default dev-staging instance domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^apiviewstaging\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://apiviewstagingtest.com/{R:0}" />
        </rule>
        <rule name="Redirect requests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^apiview\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://apiview.org/{R:0}" />
        </rule>
        <rule name="Rewrite root SPA requests for staging instance">
          <match url="^((?!spa/).*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(spa\.apiviewuxtest\.com|spa\.apiview\.org|spa\.apiviewstagingtest\.com)$" />
            <add input="{REQUEST_FILENAME}" pattern="isFile" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="isDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./spa/browser/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>