<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2" />
    <add key="DeepPrompt" value="https://dev.azure.com/DevDiv-Data-AI/DeepPrompt/_artifacts/feed/DeepPrompt" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
