@import "../shared/mixins.scss";

#apiview-logo {
    width: 30px;
}

#notification-container {
    z-index: 1100;
}

@include placeholder {
    font-style: italic;
}

@keyframes glow {
    0% {
        background-color: rgba(0,0,0,0)
    }

    25% {
        background-color: #fff6b3
    }

    100% {
        background-color: rgba(0,0,0,0)
    }
}

body {
    background-color: var(--base-bg-color);
    color: var(--base-text-color);
}

p {
    color: var(--base-text-color);
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:active {
    color: var(--link-active);
}

a:hover {
    color: var(--link-active);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

form.comment {
    padding: 12px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    z-index: 3;
    background: var(--base-bg-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--link-color);
    color: var(--primary-btn-color);
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: var(--link-active);
}

.rounded-1 {
    border-radius: 3px !important;
}

.btn-xs {
    height: 25px !important;
    font-size: 15px;
    vertical-align: middle;
    padding: 0.01rem;
}

.fixed-page-height {
    height: 100vh;
    overflow: hidden;
}

.clickable {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.login-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

/* Enable clear button in search input
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

/* Navbar Areas
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.sub-header-content {
    z-index: 2;
    position: relative;
    background-color: var(--base-bg-color);
}

.main-nav-cst-theme {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);

    a:hover {
        text-decoration: none;
    }

    a:link, a:visited {
        color: var(--navbar-text);
    }

    a:hover, a:active {
        color: var(--navbar-link-active);
    }

    border-bottom: 1px solid var(--border-color);
    z-index: 2;
}

/* PopOver
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.popover {
    border: 1px solid var(--border-color);
}

.popover .popover-arrow::before, .popover .popover-arrow::after {
    border-color: transparent !important;
    border-top-color: var(--primary-color) !important;
    border-bottom-color: var(--primary-color) !important;
}

.popover-header {
    background-color: var(--primary-color);
    color: var(--primary-btn-color);
    border-color: var(--primary-color);
}

.popover-body {
    background-color: var(--base-fg-color);
    color: var(--base-text-color);
    border-color: var(--border-color);
}

/* Tooltips
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.tooltip-inner {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 4px var(--shadow-color);
    color: var(--primary-btn-color);
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: var(--primary-color) !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: var(--primary-color) !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--primary-color) !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--primary-color) !important;
}

/* Scroll Bar
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border: solid 3px var(--base-bg-color);
    background-color: var(--text-muted-color);
    border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    background-color: var(--base-fg-color)
}

::-webkit-scrollbar-corner {
    background-color: var(--base-fg-color)
}

/* File Select/Upload Input
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.custom-file-label input[type=file] {
    margin-left: -2px !important;
}

.custom-file-label input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-label input[type=file]::file-selector-button {
    display: none;
}

.custom-file-label:hover label {
    background-color: var(--base-bg-color);
    cursor: pointer;
}