#apiview-logo {
    width: 30px;
}

body {
    background-color: var(--base-bg-color);
    color: var(--base-text-color);
}

p {
    color: var(--base-text-color);
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:active {
    color: var(--link-active);
}

a:hover {
    color: var(--link-active);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

.sub-header-content {
    z-index: 2;
    position: relative;
    background-color: var(--base-bg-color);
}

.main-nav-cst-theme {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);

    a:hover {
        text-decoration: none;
    }

    a:link, a:visited {
        color: var(--navbar-text);
    }

    a:hover, a:active {
        color: var(--navbar-link-active);
    }

    border-bottom: 1px solid var(--border-color);
    z-index: 2;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    z-index: 3;
    background: var(--base-bg-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--link-color);
    color: var(--primary-btn-color);
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: var(--link-active);
}

.rounded-1 {
    border-radius: 3px !important;
}

.btn-xs {
    height: 25px !important;
    font-size: 15px;
    vertical-align: middle;
    padding: 0.01rem;
}

.fixed-page-height {
    height: 100vh;
    overflow: hidden;
}