#apiview-logo {
    width: 30px;
}

body {
    background-color: var(--base-bg-color);
    color: var(--base-text-color);
}

p {
    color: var(--base-text-color);
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-active);
}

a:visited {
    color: var(--link-visited);
}

.nav-cst-theme {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
}

.main-nav-cst-theme {
    @extend .nav-cst-theme;

    a:link, a:visited {
        color: var(--navbar-text);
    }

    a:hover, a:active {
        color: var(--navbar-link-active);
    }

    border-bottom: 1px solid var(--border-color);
    z-index: 2;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

main {
    transition: margin-left .5s;
}