@mixin bottom-right-floating {
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 5%;
}

@mixin btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

@mixin btn-circle-xl {
    width: 100px;
    height: 100px;
    line-height: 1.2rem;
    font-size: 1.0rem;
    box-shadow: var(--box-shadow-sm);
}

@mixin main-content-container {
    transition: margin-right .5s;
    width: auto;
}

@mixin review-offcanvas-menu-content {
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: 70px;
}

@mixin review-approval-border {
    border: solid 2px var(--success-color);
    box-shadow: var(--box-shadow-success);
}

@mixin offcanvas-context-large {
    width: 50dvw;
    background-color: var(--base-bg-color);
}

@mixin offcanvas-context-small {
    width: 30dvw;
    background-color: var(--base-bg-color);
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    ::-ms-input-placeholder {
        @content;
    }
}