@mixin bottom-right-floating {
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 5%;
}

@mixin btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

@mixin btn-circle-xl {
    width: 100px;
    height: 100px;
    line-height: 1.2rem;
    font-size: 1.0rem;
    box-shadow: var(--box-shadow-sm);
}

@mixin main-content-container {
    transition: margin-right .5s;
    width: auto;
}

@mixin review-offcanvas-menu-content {
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: 85px;
}

@mixin review-approval-border {
    border: solid 2px var(--success-color);
    box-shadow: var(--box-shadow-success);
}

@mixin offcanvas-context-large {
    width: 50dvw;
    background-color: var(--base-bg-color);
}

@mixin offcanvas-context-small {
    width: 30dvw;
    background-color: var(--base-bg-color);
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    ::-ms-input-placeholder {
        @content;
    }
}

@mixin main-nav-cst-theme {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
    padding-top : 0px;
    padding-bottom : 0px;
    border-bottom: 1px solid var(--border-color);
    z-index: 2;

    a:hover {
        text-decoration: none;
    }

    a:link, a:visited {
        color: var(--navbar-text);
    }

    a:hover, a:active {
        color: var(--navbar-link-active);
    }
}

@mixin apiview-logo {
    width: 30px;
}

@mixin app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    z-index: 3;
    background: var(--base-bg-color);
}

@mixin base-tags {
    p {
        color: var(--base-text-color);
    }
    
    a:link {
        color: var(--link-color);
        text-decoration: none;
    }
    
    a:active {
        color: var(--link-active);
    }
    
    a:hover {
        color: var(--link-active);
        text-decoration: underline;
    }
    
    a:visited {
        color: var(--link-visited);
    }

    html {
        font-size: 14px;
    }
}

@mixin webkit-scrollbar {
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border: solid 3px var(--base-bg-color);
        background-color: var(--text-muted-color);
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-track-piece {
        background: transparent;
        background-color: var(--base-fg-color)
    }
    
    ::-webkit-scrollbar-corner {
        background-color: var(--base-fg-color)
    }
}

@mixin glow {
    @keyframes glow {
        0% {
            background-color: rgba(0,0,0,0)
        }

        25% {
            background-color: #fff6b3
        }

        100% {
            background-color: rgba(0,0,0,0)
        }
    }
}