@import "../shared/mixins.scss";

.offcanvas-menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--base-bg-color);
    color: var(--base-text-color);
    overflow-x: hidden;
    transition: 0.5s;
    animation-timing-function: linear;
}

.right-offcanvas {
    @extend .offcanvas-menu;
    right: 0;
}

.left-offcanvas {
    @extend .offcanvas-menu;
    left: 0;
}

.right-offcanvas-menu-content {
    border-left: 1px solid var(--border-color) !important;
    transform: translate3d(0, 0, 0);
}

.left-offcanvas-menu-content {
    border-right: 1px solid var(--border-color) !important;
    transform: translate3d(0, 0, 0);

    .badge {
        font-size: 0.55em;
        top: 5px;
    }
}

#right-offcanvas-menu-content {
    padding: 10px 20px 10px 20px;
    @include review-offcanvas-menu-content;
}

#left-offcanvas-menu-content {
    padding: 10px 0px 10px 5px;
    @include review-offcanvas-menu-content;

    .btn-check:focus + .btn, .btn:focus {
        box-shadow: var(--box-shadow-left);
    }

    .btn {
        border-radius: 0px;
    }

    .btn.active {
        box-shadow: var(--box-shadow-left);
    }
}

#apiRevisions-context, #samplesRevisions-context {
    @include offcanvas-context-large
}

#add-apirevision-context {
    @include offcanvas-context-small
}

.move-main-content-container-left {
    margin-right: 340px;
}

.move-main-content-container-right {
    margin-left: 60px;
}

.show-right-offcanvas {
    width: 340px;
}

.show-left-offcanvas {
    width: 60px;
}