.offcanvas-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--base-bg-color);
    color: var(--base-text-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.right-offcanvas {
    @extend .offcanvas-menu;
    right: 0;
}

.offcanvas-menu-content {
    .SumoSelect {
        min-width: 150px;
        width: auto;
    }

    height: 100%;
    border-left: 1px solid var(--border-color) !important;
}

.move-main-content-container-left {
    margin-right: 340px;
}

.show-offcanvas {
    width: 340px;
}