apiVersion: apps/v1
kind: Deployment
metadata:
  name: stress-watcher
  namespace: {{ .Release.Namespace }}
  labels:
    app: stress-watcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stress-watcher
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app: stress-watcher
    spec:
      containers:
      - name: stresswatcher
        imagePullPolicy: Always
        image: azsdkengsys.azurecr.io/stress/watcher:{{ .Values.tag }}
        command: ["dotnet", "Stress.Watcher.dll"]
        volumeMounts:
        - name: public
          mountPath: /mnt/outputs
          readOnly: true
      volumes:
      - name: public
        secret:
          secretName: public
          items:
          - key: value
            path: .env
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stress-resource-patcher-{{ .Release.Namespace }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stress-resource-patcher-{{ .Release.Namespace }}
subjects:
- namespace: {{ .Release.Namespace }}
  kind: ServiceAccount
  name: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: stress-resource-patcher-{{ .Release.Namespace }}
