<app-review-page-layout
    [review]="review"
    [sideMenu]="sideMenu"
    [apiRevisions]="apiRevisions"
    [activeApiRevisionId]="activeApiRevisionId"
    [diffApiRevisionId]="diffApiRevisionId"
    [userProfile]="userProfile"
    [showPageoptionsButton]="true"
    (pageOptionsEmitter)="handlePageOptionsEmitter($event)">
    <p-splitter
        [panelSizes]="panelSizes"
        [minSizes]="minSizes"
        [gutterSize]="6" (onResizeEnd)="handleSplitterResizeEnd($event)">
        <ng-template pTemplate>
            <div *ngIf="showLeftNavigation" class="col flex align-items-center justify-content-center border rounded-start overflow-auto review-panel {{ activeAPIRevision?.isApproved | approval | lowercase }}">
                <app-review-nav
                    [reviewPageNavigation]="reviewPageNavigation"
                    [loadFailed]="loadFailed"
                    (navTreeNodeIdEmitter)="handleNavTreeNodeEmmitter($event)"></app-review-nav>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center border review-panel {{ activeAPIRevision?.isApproved | approval | lowercase }}">
                <app-code-panel [codePanelRowData]="codePanelRowData" [codePanelData]="codePanelData"
                    [language]="language" [languageSafeName]="languageSafeName"
                    [isDiffView]="!!diffApiRevisionId"
                    [reviewId]="reviewId!" [activeApiRevisionId]="activeApiRevisionId!"
                    [userProfile]="userProfile"
                    [loadFailed]="loadFailed"
                    [showLineNumbers]="showLineNumbers" [scrollToNodeIdHashed]="scrollToNodeIdHashed"
                    [scrollToNodeId]="scrollToNodeId"
                    [codeLineSearchText]="codeLineSearchText"
                    [codeLineNavigationDirection]="codeLineNavigationDirection"
                    (hasActiveConversationEmitter)="handleHasActiveConversationEmitter($event)"
                    (codeLineSearchInfoEmitter)="handleCodeLineSearchInfoEmitter($event)"></app-code-panel>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div *ngIf="showPageOptions" class="col flex align-items-center justify-content-center border rounded-end overflow-auto review-panel px-3">
                <app-review-page-options
                    [isDiffView]="!!diffApiRevisionId"
                    [contentHasDiff]="codePanelData?.hasDiff"
                    [diffStyleInput]="diffStyle!"
                    [userProfile]="userProfile"
                    [review]="review"
                    [activeAPIRevision]="activeAPIRevision"
                    [diffAPIRevision]="diffAPIRevision"
                    [preferredApprovers]="preferredApprovers"
                    [hasFatalDiagnostics]="hasFatalDiagnostics"
                    [hasActiveConversation]="hasActiveConversation"
                    [hasHiddenAPIs]="hasHiddenAPIs"
                    [codeLineSearchInfo]="codeLineSearchInfo"
                    (showSystemCommentsEmitter)="handleShowSystemCommentsEmitter($event)"
                    (showDocumentationEmitter)="handleShowDocumentationEmitter($event)"
                    (showCommentsEmitter)="handleShowCommentsEmitter($event)"
                    (showLeftNavigationEmitter)="handleShowLeftNavigationEmitter($event)"
                    (diffStyleEmitter)="handleDiffStyleEmitter($event)"
                    (markAsViewedEmitter)="handleMarkAsViewedEmitter($event)"
                    (subscribeEmitter)="handleSubscribeEmitter($event)"
                    (showLineNumbersEmitter)="handleShowLineNumbersEmitter($event)"
                    (apiRevisionApprovalEmitter)="handleApiRevisionApprovalEmitter($event)"
                    (reviewApprovalEmitter)="handleReviewApprovalEmitter($event)"
                    (showHiddenAPIEmitter)="handleShowHiddenAPIEmitter($event)"
                    (disableCodeLinesLazyLoadingEmitter)="handleDisableCodeLinesLazyLoadingEmitter($event)"
                    (commentThreadNavaigationEmitter)="handleCommentThreadNavaigationEmitter($event)"
                    (diffNavaigationEmitter)="handleDiffNavaigationEmitter($event)"
                    (copyReviewTextEmitter)="handleCopyReviewTextEmitter($event)"
                    (codeLineSearchTextEmitter)="handleCodeLineSearchTextEmitter($event)"
                    (codeLineSearchNaviationEmmiter)="handleCodeLineSearchNaviationEmmiter($event)"></app-review-page-options>
            </div>
        </ng-template>
    </p-splitter>
</app-review-page-layout>
<p-sidebar [(visible)]="revisionSidePanel!" position="right" [modal]="true" [showCloseIcon]="false" styleClass="revisions-sidebar">
    <app-revisions-list 
        [review]="review"
        [revisionSidePanel]="revisionSidePanel!">
    </app-revisions-list>
</p-sidebar>
<p-sidebar [(visible)]="conversationSidePanel!" position="right" [modal]="true" [showCloseIcon]="false" styleClass="conversation-sidebar">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <a [routerLink]="['/conversation', this.reviewId]" class="h4">Conversations</a>
        </div>
    </ng-template>
    <app-conversations 
        [apiRevisions]="apiRevisions"
        [comments]="comments"
        [review]="review"
        [activeApiRevisionId]="activeApiRevisionId"
        (scrollToNodeEmitter)="handleScrollToNodeEmitter($event)"
        (numberOfActiveThreadsEmitter)="handleNumberOfActiveThreadsEmitter($event)">
    </app-conversations >
</p-sidebar>
