:host ::ng-deep {
    .review-panel{
        height: calc(100vh - 119px);
    }

    #code-window {
        scroll-behavior: smooth;
        transform: translate3d(0, 0, 0);
    }

    .code-window-container {
        max-width: 100%;
        transform: translate3d(0, 0, 0);
    }

    .p-sidebar-right {
        width: 70dvw;
    }

    .p-splitter-panel-nested {
        display: block;
        min-width: 0;
    }
    
    .p-menu {
        background: var(--base-fg-color);
        color: var(--base-text-color);
        padding: 0.5rem 0;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        width: 3.5rem;
    }

    .p-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
        color: var(--base-text-color);
        padding: 0.75rem 1rem;
    }

    .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
        color: var(--base-text-color);;
        font-size: x-large;
    }
}