:host ::ng-deep {
    .review-panel-container {
        height: calc(100vh - 100px);
    }

    .review-panel{
        height: 100%;
        background-color: var(--base-fg-color);
        border: 1px solid var(--border-color);
        &.approved {
            border: solid 1px var(--success-color) !important;
            box-shadow: var(--box-shadow-success);
        }
    }

    .options-panel {
        background-color: var(--base-fg-color);
        height: calc(100vh - 100px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    // Constrain the splitter to prevent page scroll
    p-splitter {
        height: calc(100vh - 100px);
        overflow: hidden;

        .p-splitter {
            height: 100%;
        }

        .p-splitter-panel {
            overflow: hidden;
        }
    }

    .p-splitter-panel-nested {
        display: block;
        min-width: 0;
    }
}
