<?xml version="1.0" encoding="utf-8"?>
<!-- Temporary local nuget source before public release -->
<configuration>
  <packageSources>
    <clear />
    <add key="PublicPackages" value="https://pkgs.dev.azure.com/azure-sdk/internal/_packaging/internal_PublicPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>