
@import "../../../../../APIViewWeb/Client/css/shared/mixins.scss";

:host ::ng-deep {
    @include glow;

    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    display: block;

    #viewport {
        overflow: auto;
        height: calc(100vh - 102px);
        will-change: scroll-position, contents;
        container-type: inline-size;
        background-color: var(--base-fg-color);
    }

    .code-line {
        display: grid;
        --max-cell-width: 0px;
        grid-template-columns: minmax(auto, max-content) 1fr;
        width: 500% !important;

        &.diagnostics {
            padding-left: calc(var(--max-line-number-width) + 50px);

            &.error {
                background-color: var(--alert-error-bg);
                color: var(--alert-error-color);
                border-top: 1px solid var(--alert-error-border-color);
                border-bottom: 1px solid var(--alert-error-border-color);
                a {
                    font-weight: bold;
                    text-decoration: underline;
                    color: var(--alert-error-link-color);
                }
            }
            &.warning {
                background-color: var(--alert-warn-bg);
                color: var(--alert-warn-color);
                border-top: 1px solid var(--alert-warn-border-color);
                border-bottom: 1px solid var(--alert-warn-border-color);
                a {
                    font-weight: bold;
                    text-decoration: underline;
                    color: var(--alert-warn-link-color);
                }
            }
            &.info {
                background-color: var(--alert-info-bg);
                color: var(--alert-info-color);
                border-top: 1px solid var(--alert-info-border-color);
                border-bottom: 1px solid var(--alert-info-border-color);
                a {
                    font-weight: bold;
                    text-decoration: underline;
                    color: var(--alert-info-link-color);
                }
            }
        }

        &.user-comment-thread, &.cross-language-view {
            padding-left: calc(var(--max-line-number-width) + 10px);
            border-top: none;
            border-bottom: none;

            .user-comment-content {
                width: min(1000px, calc(100cqw - 100px));
                position: sticky;
                left: calc(var(--max-line-number-width) + 10px)
            }

            .cross-language-view-content {
                width: min(1030px, calc(100cqw - 100px));
                position: sticky;
                left: calc(var(--max-line-number-width) + 10px)
            }
        }

        &.user-comment-thread:hover .comment-thread-navigation {
            display: block;
        }

        &.added {
            background-color: rgba(0, 255, 0, 0.25);
            .code-line-content::before {
                content: '+';
                left: 0;
                position: absolute;
                color: var(--text-muted-color);
                margin-left: 2px;
            }

            .line-number.first {
                visibility: hidden;
            }
        }

        &.removed {
            background-color: rgba(255, 0, 0, 0.25);
            .code-line-content::before {
                content: '-';
                left: 0;
                position: absolute;
                color: var(--text-muted-color);
                margin-left: 2px;
            }

            .line-number.second {
                visibility: hidden;
            }
        }

        &.added .line-actions, &.removed .line-actions {
            background-color: var(--dark-overlay)
        }

        &.active, &.active .line-actions {
            animation: glow normal 1.5s ease-in-out;
        }

        &.hidden-api .code-line-content {
            filter: var(--hidden-api-filter);
        }

        .diff-change {
            background-color: var(--dark-overlay);
            border-radius: 2px;
            padding-left: 2px;
            padding-right: 2px;
        }
    }

    .code-line:hover {
        .toggle-documentation-btn.can-show {
            color: inherit;
        }

        .toggle-user-comments-btn.can-show {
            color: inherit;
        }
    }

    .code-line-content {
        max-height: 21px;
        grid-column: 2;
        position: relative;
        white-space: pre;
        color: var(--base-text-color);
    }

    .line-number {
        display: inline-block;
        min-width: var(--max-line-number-width);

        &.has-cross-language {
            color: var(--primary-color);
        }
    }

    .line-number-container {
        position: relative;
        display: inline-flex;
        align-items: center;
        
        .add-comment-btn {
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;
            padding: 3px 6px;
            margin-left: 6px;
            border: 1px solid #d0d7de;
            background: white;
            color: #57606a;
            cursor: pointer;
            font-size: 13px;
            line-height: 1;
            border-radius: 6px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: #f6f8fa;
                border-color: #1f232826;
                color: #24292f;
            }

            &:active {
                background: #eaeef2;
                border-color: #1f232826;
            }

            &:focus {
                outline: 2px solid #0969da;
                outline-offset: 2px;
            }

            i {
                font-size: 14px;
            }
        }

        &:hover .add-comment-btn {
            opacity: 1;
            visibility: visible;
        }
    }

    .line-number-text {
        display: inline-block;
    }

    .line-actions {
        grid-column: 1;
        text-align: right;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 0px;
        border-right: none;
        cursor: pointer;
        position: sticky;
        left: 0;
        background-color: var(--base-fg-color);
        z-index: 1000;

        span:not(:last-child) {
            margin-right: 5px;
        }
    }

    .toggle-documentation-btn {
        color: transparent;
        &.hide {
            visibility: invisible;
        }
    }

    .toggle-user-comments-btn {
        color: transparent;
        &.hide {
            visibility: invisible;
        }

        &.show {
            color: inherit;
        }
    }

    .comment {
        color: var(--code-comment);
    }

    .keyword {
        color: var(--keyword-color);
    }

    .tname {
        color: var(--class-color);
    }

    .mname {
        color: var(--name-color);
    }

    .enum {
        color: var(--enum-color);
    }

    .literal .sliteral {
        color: var(--literal-color);
    }

    .url-token {
        color: var(--link-color);
    }

    .nav-token:hover , .url-token:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .deprecated-token {
        text-decoration: line-through;
    }

    .codeline-search-match-highlight {
        background-color: var(--primary-color);
        color: var(--primary-btn-color);
        padding: 0px;
        margin: 0px;

        &.active {
            background-color: red;
        }
    }



    .java {
        .javadoc {
            color: var(--java-doc-color);
            font-style: italic !important;
        }

        .enum {
            color: var(--class-color);
        }

        .comment {
            color: var(--java-comment-color);
            font-style: italic !important;
        }

        .fieldName, .enumConstant {
            color: var(--java-field-name-color);
        }

        .methodName {
            color: var(--java-method-name-color);
        }

        .keyword {
            color: var(--java-keyword-color);
        }

        .annotationName {
            color: var(--java-anotation-name-color);
        }

        .stringLiteral {
            color: var(--java-string-literal-color);
        }

        .number {
            color: var(--java-number-color);
        }
    }

    .python {
        .handwritten {
            font-weight: bold;
            font-style: italic;
        }
    }
}
