/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Code rendering classes
------------------------------------------------- */
.keyword {
    color: blue;
}

.type {
    color: #B93D3D;
}

.enum {
    color: #8700BD;
}

.class {
    color: #00B8B1;
}

.specialName {
    color: #A400EB;
    font-weight: bold;
}

.name {
    color: black;
}

.value {
    color: #00B80F;
}

form.comment {
    padding: 12px;
}

#comment-form-template {
    display: none;
}

.comment-actions {
    float: right;
    margin-left: 10px;
    margin-right: -5px;
}

.comment-box {
    border: 1px solid gray;
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.comment-cancel-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.comment-cell {
    padding: 10px;
    vertical-align: top;
}

.comment-contents {
    max-width: 592px;
    margin-bottom: 3px;
    overflow-wrap: break-word;
}

.comment-delete-button {
    margin-left: 44px;
}

.comment-delete-text {
    color: #B93D3D;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comment-header {
    margin-bottom: 0px;
    line-height: 0.8 !important;
    display: inline;
}

.comment-holder {
    max-width: 780px;
}

.comment-icon {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.comment-submit-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0 4px 0;
}

.comment-timestamp {
    float: right;
    padding-top: 6px;
    font-size: 12px;
}

.review-comment {
    padding: 8px 16px;
    position: relative;
}

    .review-comment:first-child {
        padding-top: 16px;
    }

.commentable {
    cursor: pointer;
}

.code-window {
    font-size: 14px;
    line-height: 1.5;
    border-collapse: separate;
    width: 100%;
    tab-size: 8;
    border-spacing: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.code-line {
    white-space: pre;
    font-family: monospace;
    line-height: 20px;
}

.line-comment-button {
    background-color: lightgray;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 0px;
    margin: -2px -10px -2px -24px;
    position: center;
    text-align: center;
    text-indent: 0;
    width: 20px;
}

.code-line:hover .line-comment-button {
    opacity: 1;
}

.code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

code-inner {
    color: #24292E;
    overflow: visible;
    word-wrap: normal;
}

.rounded-1 {
    border-radius: 3px !important;
}

.author {
    font-size: 14px;
}

.review-thread-reply {
    background-color: #F6F8FA;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #E1E4E8;
    padding: 8px 16px;
    display: table;
    width: 100%;
}

.review-thread-reply-button {
    cursor: text;
    display: inline-block;
    min-height: 28px;
    padding: 3px 8px;
    width: 100%;
}

.reply-cell {
    display: table-cell;
}

.new-thread-comment {
    border-radius: 3px;
    line-height: 1.5;
    border-collapse: separate;
    tab-size: 8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F8FA;
}

.new-thread-comment-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F6F8FA;
    max-width: 758px;
}

.comment-thread-contents.new-thread-comment {
    background-color: #FFF;
    border: 0;
    margin: -8px -16px;
}

.new-comment-content {
    position: relative;
    margin: 0 4px 8px;
}

.media {
    margin-bottom: 5px;
}

.login-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.info-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.line-comment-button-cell {
    user-select: none;
    width: 1em;
    white-space: normal;
}

.line-comment-button-cell::before {
    display: block;
    height: 0;
    width: 0;
}

.btn-link.line-comment-button {
    border: 0;
    opacity: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
}

.namespace-view {
    font-size: 14px;
    font-family: monospace;
}

.nav-list {
    list-style-type:none;
    padding-left: 0px;
}

.nav-list-children {
    list-style-type: none;
    padding-left: 23px;
    text-overflow: ellipsis;
}
.nav-list-children > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-list-toggle {
    padding-left: 14px;
    background: url(/icons/down.png) center left no-repeat;
}

.nav-list-collapsed > .nav-list-toggle {
    background: url(/icons/right.png) center left no-repeat;
}

.nav-list-collapsed > .nav-list-children {
    display: none;
}

.type_class {
    background: url(/icons/class.png) center left no-repeat;
}

.type_interface {
    background: url(/icons/interface.png) center left no-repeat;
}

.type_struct {
    background: url(/icons/struct.png) center left no-repeat;
}

.type_enum {
    background: url(/icons/enum.png) center left no-repeat;
}

.type_delegate {
    background: url(/icons/delegate.png) center left no-repeat;
}

.type_unknown {
    background: url(/icons/type.png) center left no-repeat;
}

.assembly_view {
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}