/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Code rendering classes
------------------------------------------------- */
.keyword {
    color: blue;
}

.type {
    color: #B93D3D;
}

.enum {
    color: #8700BD;
}

.class {
    color: #00B8B1;
}

.specialName {
    color: #A400EB;
    font-weight: bold;
}

.name {
    color: black;
}

.value {
    color: #00B80F;
}

form.comment {
    padding: 12px;
}

#comment-form-template {
    display: none;
}

.comment-box {
    border: 1px solid gray;
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.comment-cell {
    padding: 10px;
    vertical-align: top;
}

.comment-holder {
    max-width: 780px;
}

.comment-timestamp {
    float: right;
}

.review-comment {
    padding: 8px 16px;
    position: relative;
}

.review-comment:first-child {
    padding-top: 3px;
}

.commentable {
    cursor: pointer;
}

.code-window {
    font-size: 14px;
    line-height: 1.5;
    border-collapse: separate;
    width: 100%;
    tab-size: 8;
    border-spacing: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.code-line {
    white-space: pre;
    font-family: monospace;
}

.code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

code-inner {
    color: #24292E;
    overflow: visible;
    word-wrap: normal;
}

.rounded-1 {
    border-radius: 3px !important;
}

.author {
    font-size: 14px;
}

.review-thread-reply {
    background-color: #F6F8FA;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #E1E4E8;
    padding: 8px 16px;
}

.review-thread-reply-button {
    cursor: text;
    display: inline-block;
    min-height: 28px;
    padding: 3px 8px;
    width: 100%;
}

.new-thread-comment {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    border-collapse: separate;
    tab-size: 8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comment-thread-contents.new-thread-comment {
    background-color: #FFF;
    border: 0;
    margin: -8px -16px;
}

.new-comment-content {
    position: relative;
    margin: 0 4px 8px;
}

.thread-comment-submit {
    margin: 0 4px 0;
}