body {
}

.keyword {
    color: blue;
}

.type {
    color: #B93D3D;
}

.class {
    color: #00B8B1;
}

.specialName {
    color: #A400EB;
    font-weight: bold;
}

.name {
    color: black;
}

.value {
    color: #00B80F;
}