:host ::ng-deep {
    a {
        text-decoration: none;
        color: var(--link-color);
    }

    a:hover {
        text-decoration: underline;
        color: var(--link-active);
    }

    img {
    }

    .p-tree {
        font-family: Consolas,monospace;
        font-size: 14px;
        border: 0px;
        padding: 0.1rem;
        max-height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background: var(--base-fg-color);
        color: var(--base-text-color);
    }

    .p-tree-node-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .p-tree-node-content {
        padding: 0 !important;
        margin: 0 !important;
        border: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .p-tree-node-toggle-button {
            height: 1rem;
            width: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .p-tree-node {
        padding: 0 !important;
        margin: 0 !important;
        outline: 0 none;
    }

    .p-tree-node ul {
        padding-left: 1rem;
    }

    .p-tree-container {
        padding-left: 0px !important;
    }

    .client-type {
        font-weight: bold !important;
        color: var(--primary-color) !important;
        background-color: var(--client-type-bg);
        padding: 2px 6px;
        border-radius: 5px;
    }
}
