<div *ngIf="codePanelRowData!.isResolvedCommentThread" class="resolution-info {{ floatItemStart }}">
    <small class="d-flex align-items-center">This thread is marked resolved by<b>&nbsp;{{ threadResolvedBy }}&nbsp;</b><span class="resolved-toggler" (click)="toggleResolvedCommentExpandState()"><i class="bi {{threadResolvedStateToggleIcon}}"></i>&nbsp;{{threadResolvedStateToggleText}}&nbsp;Resolved</span>
    </small>
</div>
<div *ngIf="!codePanelRowData!.isResolvedCommentThread || threadResolvedAndExpanded" class="border rounded {{spacingBasedOnResolvedState}} py-2 comment-thread-container {{ floatItemStart }}">
    <p-timeline [value]="codePanelRowData!.comments">
        <ng-template pTemplate="marker" let-comment>
            <img [alt]="comment.createdBy" src="https://github.com/{{ comment.createdBy }}.png?size=40" width="40" height="40" class="user-avartar"/>
        </ng-template>        
        <ng-template pTemplate="content" let-comment>
            <p-panel [toggleable]="false" [attr.data-comment-id]="comment.id">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span class="fw-bold">{{ comment.createdBy }}</span>
                        <span class="small ms-2">{{ comment.createdOn | timeago }}</span>
                    </div>
                </ng-template>
                <div *ngIf="!comment.isInEditMode" [innerHTML]="(comment.commentText | markdownToHtml | async)" class="pe-5 rendered-comment-content">
                </div>
                <div *ngIf="comment.isInEditMode" class="mt-2 p-2 edit-editor-container">
                    <app-editor [content]="comment.commentText" [editorId]="comment.id" [style]="{ width: '100%'}"></app-editor>
                    <div class="btn-group mt-2" role="group" aria-label="Comment Action Buttons">
                        <button type="button" class="btn btn-sm btn-outline-success editor-action-btn" [disabled]="getEditorContent(comment.id).length === 0" (click)="saveCommentAction($event)">Save</button>
                        <button type="button" class="btn btn-sm btn-outline-danger editor-action-btn" (click)="cancelCommentAction($event)">Cancel</button>
                    </div>
                </div>
                <ng-template pTemplate="icons">
                    <p-menu appendTo="body" [attr.data-menu-id]="comment.id" [model]="getCommentActionMenuContent(comment.id)" [popup]="true" >
                        <ng-template pTemplate="submenuheader" let-item>
                            <span *ngIf="item?.label" class="ms-2">{{ item.label }}</span>
                        </ng-template>
                        <ng-template pTemplate="item" let-item>
                            <a pRipple [attr.data-item-id]="comment.id" [attr.data-element-id]="comment.elementId" class="flex align-items-center p-menuitem-link">
                                <img *ngIf="item?.title" src="{{assetsPath}}/images/{{ item?.title! | languageNames }}-original.svg" width="25" height="25" class="ms-2">
                                <i *ngIf="item?.icon" class="ms-2 {{item?.icon}}"></i>
                                <span class="ms-2">{{ item.label }}</span>
                            </a>
                        </ng-template>
                    </p-menu>
                    <button [attr.data-btn-id]="comment.id" (click)="toggleUpVoteAction($event)" class="p-panel-header-icon p-link">
                        <span *ngIf="comment.upvotes.length > 0; else noUpVotes" class="bi bi-hand-thumbs-up-fill emoji-active">{{comment.upvotes.length}}</span>
                        <ng-template #noUpVotes>
                            <span class="bi bi-hand-thumbs-up"></span>
                        </ng-template>
                    </button>
                    <button *ngIf="(getCommentActionMenuContent(comment.id)).length > 0" class="p-panel-header-icon p-link" (click)="toggleActionMenu($event, comment.id)">
                        <span class="bi bi-three-dots-vertical"></span>
                    </button>
                </ng-template>
            </p-panel>
        </ng-template>
    </p-timeline>
    <div *ngIf="(codePanelRowData!.showReplyTextBox)" class="border-top border-bottom mt-2 p-2 reply-editor-container">
        <app-editor editorId="replyEditor" [style]="{ width: '100%'}"></app-editor>
        <div class="btn-group mt-2" role="group" aria-label="Comment Action Buttons">
            <button type="button" class="btn btn-sm btn-outline-success editor-action-btn" [disabled]="getEditorContent('replyEditor').length === 0" (click)="saveCommentAction($event)">Add comment</button>
            <button type="button" class="btn btn-sm btn-outline-danger editor-action-btn" (click)="cancelCommentAction($event)">Cancel</button>
            <button 
                type="button" 
                class="btn btn-sm btn-outline-secondary editor-action-btn" 
                [class.active]="allowAnyOneToResolve" 
                data-bs-toggle="button" 
                [attr.aria-pressed]="allowAnyOneToResolve" 
                (click)="toggleAllowAnyOneToResolve()">
                Allow Anyone To Resolve
            </button>
        </div>
    </div>
    <div class="mt-2 d-grid gap-2">
        <div *ngIf="!(codePanelRowData!.showReplyTextBox)" class="border-top border-bottom reply-button-container p-2" style="display: flex; align-items: center;">
            <img [alt]="userProfile?.userName" src="https://github.com/{{ userProfile?.userName }}.png?size=40" width="40" height="40" class="user-avartar mx-4"/>
            <button type="button" style="flex-grow: 1;" class="btn btn-sm border text-muted text-start me-4 reply-button" (click)="showReplyEditor($event)">Reply...</button>
        </div>
        <button *ngIf="codePanelRowData!.comments?.length! > 0" type="button" (click)="handleThreadResolutionButtonClick(resolveThreadButtonText)" class="btn btn-outline-secondary comment-action-btn btn-sm mx-2">{{resolveThreadButtonText}} Conversation</button>
    </div>
</div>
<div *ngIf="instanceLocation === 'code-panel' && (!codePanelRowData!.isResolvedCommentThread || threadResolvedAndExpanded)" class="btn-group-vertical comment-thread-navigation ms-2 {{ floatItemEnd }}" role="group" aria-label="Comment Navigation Button">
    <button type="button" class="btn btn-sm btn-outline-secondary" pTooltip="Previous Comment" tooltipPosition="top" (click)="handleCommentThreadNavaigation($event, CodeLineRowNavigationDirection.prev)"><i class="bi bi-arrow-up"></i></button>
    <button type="button" class="btn btn-sm btn-outline-secondary" pTooltip="Next Comment" tooltipPosition="bottom" (click)="handleCommentThreadNavaigation($event, CodeLineRowNavigationDirection.next)"><i class="bi bi-arrow-down"></i></button>
</div>
