# This config file is used to map labels to projects for automatically
# adding and removing issues to a github project when labels are applied or removed.
#
# The format of this file after the header is standard CSV format with one mapping
# per line.
#
# In order to avoid a graphql node id lookup on every label action we should gather
# that once and provide the value in this configuration.
# To get the ProjectId goto https://docs.github.com/graphql/overview/explorer and run query
# "{ organization(login: "Azure") { projectNext(number: <PROJECT_NUMBER>) { id } } }"
#  replacing <PROJECT_NUMBER> with your project to get project node id.
#
# You can also run the Add-IssuesWithLabelToProject.ps1 script to add the initial
# set of issues the project as well as to get the ProjectId for your project.
"Label", "Project", "ProjectId"
"Central-EngSys", "https://github.com/orgs/Azure/projects/162", "PN_kwDOAGhwUs4ABj5U"