.p-datatable .p-datatable-header {
    background: var(--base-fg-color);
    color: var(--base-text-color);
    border: 0px solid var(--border-color);
}

.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead, 
.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tfoot, 
.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-scroller-viewport > .p-scroller > 
.p-datatable-table > .p-datatable-thead, .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > 
.p-scroller-viewport > .p-scroller > .p-datatable-table > .p-datatable-tfoot {
    background-color: var(--base-fg-color);
}

.p-datatable .p-datatable-thead > tr > th {
    border: 0px solid var(--border-color);
    color: var(--base-text-color);
    background: var(--base-fg-color);
}

.p-datatable .p-datatable-tbody > tr {
    background: var(--base-fg-color);
    color: var(--base-text-color);
    transition: box-shadow 0.15s;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid var(--base-fg-color);
}

.p-datatable .p-datatable-footer {
    background: var(--base-bg-color);
    color: var(--base-text-color);
    border: 1px solid var(--border-color);
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: var(--base-fg-color);
    color: var(--base-text-color);
}

.p-sidebar {
    background: var(--base-fg-color);
    color: var(--base-text-color);
    border: 1px solid var(--border-color);
}

.p-chip {
    background-color: var(--base-fg-color);
    color: var(--base-text-color);
}

.p-contextmenu {
    background: var(--base-fg-color);
    color: var(--base-text-color);
    border: 1px solid var(--border-color);
}

.p-contextmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: var(--link-color);
    .p-menuitem-text, .p-menuitem-icon {
        color: var(--link-color);
    }
}

.p-contextmenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: var(--link-active);
    background: var(--base-bg-color);
}

.p-contextmenu .p-menuitem > .p-menuitem-content {
    color: var(--link-color);
}

.p-contextmenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--link-active);
}

.p-checkbox .p-checkbox-box {
    border: 2px solid var(--border-color);
    background: var(--base-fg-color);
    color: var(--base-text-color);
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--primary-btn-color);
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: var(--primary-btn-color);
}

.p-datatable .p-datatable-tbody > tr:focus {
    outline: 0.15rem solid var(--outer-glow);
    outline-offset: 0.15rem;
}

.p-inputtext {
    color: var(--base-text-color);
    background: var(--base-fg-color);
    border: 1px solid var(--border-color);
}

.p-inputtext:enabled:hover {
    border-color: var(--outer-glow);
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--outer-glow);
    border-color: var(--primary-btn-color);
}

.p-multiselect {
    background: var(--base-fg-color);
    border: 1px solid var(--border-color);
}

.p-multiselect .p-multiselect-trigger {
    color: var(--base-text-color);
}

.p-multiselect-panel .p-multiselect-header {
    border-bottom: 1px solid var(--border-color);
    color: var(--base-text-color);
    background: var(--base-bg-color);
}

.p-multiselect-panel {
    background: var(--base-fg-color);
    color: var(--base-text-color);
    border: 1px solid var(--border-color);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    color: var(--base-text-color);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: var(--primary-btn-color);
    background: var(--link-color);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: var(--primary-btn-color);
    background: var(--link-active);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: inset 0 0 0 0.15rem var(--outer-glow);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
    color: var(--base-text-color);
    background: var(--base-bg-color);
}

.p-datatable .p-sortable-column.p-highlight, .p-datatable .p-sortable-column.p-highlight:hover {
    background: var(--base-fg-color);
    color: var(--link-color);
}

.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem var(--outer-glow);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--link-active);
}