@use "bootstrap/dist/css/bootstrap.min.css";
@use "bootstrap-icons/font/bootstrap-icons.min.css";
@use "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@use "node_modules/highlight.js/styles/atom-one-dark.css";
@use "primeicons/primeicons.css";

@use "../../../APIView/APIViewWeb/Client/css/shared/theme-colors.scss";
@use "../../../APIView/APIViewWeb/Client/css/shared/bootstraps-overrides.scss";
@use "./ng-prime-overrides.scss";

body {
    background-color: var(--base-bg-color);
    color: var(--base-fg-color);
}

// Reviewers panel popover - appended to body so needs global styles
.p-popover.reviewers-panel {
    padding: 0 !important;
    z-index: 10000 !important;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    .p-popover-content {
        padding: 0 !important;
    }
    &::before, &::after {
        display: none !important;
    }
}
