<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Swagger <-> Test Coverage Report -- {{ package }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <h1>
            There are {{getGeneralErrors}} validation results.
        </h1>
        <!-- <script id="mp_template" type="text/template">
        </script> -->

        <div id="mypanel"></div>
        <script>

            $(document).ready( () => {
                console.log("Hello AZSDK")
            });
            
        </script>
    </body>
</html>