node_modules
*.env
dist
types
temp
tsp-output/
output/
test/examples/specification/convert/examples/*
.tmp-test-*
TempTypeSpecFiles/
# Ignore generated SDK files in test examples
test/examples/sdk/contosowidgetmanager/
