@page
@model APIViewWeb.Pages.Assemblies.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete @Model.AssemblyName?</h3>
<br />
<form method="post">
    <input type="hidden" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">Back to List</a>
</form>

