@page
@model APIViewWeb.Pages.Assemblies.DeleteModel
@using APIViewWeb.Helpers
@using APIViewWeb.Models
@{
    ViewData["Title"] = "Delete";
    TempData["UserPreference"] = PageModelHelpers.GetUserPreference(Model._preferenceCache, User);
}
<div class="container-fluid">
    <div class="mx-5 mt-2">
        <h3>Are you sure you want to delete @Model.AssemblyName?</h3>
        <br />
        <form method="post">
            <input type="hidden" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>

