@page
@model APIViewWeb.Pages.Assemblies.IndexModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var assembly in Model.Assemblies)
{
    <tr>
        <td>
            @Html.Raw(assembly[1])
        </td>
        <td>
            <a asp-page="./Review" asp-route-id="@assembly[0]">Review</a>
        </td>
        <td>
            <a asp-page="./Delete" asp-route-id="@assembly[0]">Delete</a>
        </td>
    </tr>
    <br />
}


