@page
@using Azure.Storage.Blobs;
@model APIViewWeb.Pages.Assemblies.IndexModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.Segment.Value.BlobItems)
{
    <tr>
        <td>
            @foreach (var pair in item.Metadata)
            {
                @Html.Raw(pair.Value)
            }
        </td>
        <td>
            <a asp-page="./Review" asp-route-id="@item.Name">Review</a>
        </td>
        <td>
            <a asp-page="./Delete" asp-route-id="@item.Name">Delete</a>
        </td>
    </tr>
    <br />
}


