@page
@model APIViewWeb.Pages.Assemblies.IndexModel
@{
    ViewData["Title"] = "Index";
}

<p>@Html.Raw(@System.IO.File.ReadAllText("generated.txt").Replace("\r\n", "<br />").Replace("    ", "<p style=\"margin-left: 40px\"></p>"))</p>

