@page "{id?}"
@model APIViewWeb.Pages.Assemblies.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<table class="code-window border rounded-1">
    <tbody>
        @foreach (var line in Model.AssemblyModel)
        {
        <tr class="code-line"><td class="code"><span class="code-inner">@Html.Raw(line.DisplayString)</span></td></tr>
        @foreach (var comment in Model.Comments)
        {
        @if (comment.ElementId == line.ElementId) {
        <tr class="comment-box">
            <td class="comment-cell border-top border-bottom" colspan="4">
                <div class="border comment-holder rounded-1">
                    <div class="comment-thread-contents">
                        <div class="review-comment">
                            <div class="unminimized-comment">
                                <h4><strong class="author">Anonymous</strong></h4>
                                <div class="comment-body">
                                    <p>@comment.Comment</p>
                                </div>
                                <form class="comment-delete-button" asp-page-handler="delete" method="post" asp-route-id="@Model.Id">
                                    <input type="hidden" name="commentId" value=@comment.Id>
                                    <button class="btn btn-outline-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="review-thread-reply">
                            <button type="button" class="review-thread-reply-button text-muted text-left form-control">Reply...</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
        }
        }
    </tbody>
</table>

<br />

<form id="comment-form" class="comment" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <label>ID:</label>
        <input type="text" readonly id="id-box" asp-for="Comment.ElementId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Comment:</label>
        <textarea id="comment-thread" asp-for="Comment.Comment" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" id="submit-button" class="btn btn-outline-dark">Add Comment</button>
</form>