@page
@model APIViewWeb.Pages.Assemblies.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<pre>@Html.Raw(Model.AssemblyModel)</pre>

<form id="commentForm" class="comment" method="post">
    <div class="form-group">
        <label>ID:</label>
        <textarea id="idBox" asp-for="Comment.Id" class="form-control" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label>Comment:</label>
        <textarea id="commentThread" asp-for="Comment.Comment" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" id="submitButton" class="btn btn-outline-dark">Add</button>
</form>

@foreach  (var comment in Model.Comments)
{
    <a href="#@comment.Id">@comment.Id</a><span>: @comment.Comment</span><br />
}