@page
@model APIViewWeb.Pages.Assemblies.ReviewModel
@{
    ViewData["Title"] = "Review";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css"/>
</head>
<body>
    <pre>@Html.Raw(Model.AssemblyModel)</pre>
</body>

