@page "{id?}"
@model APIViewWeb.Pages.Assemblies.UsageSamplePageModel
@{
    Layout = "ReviewLayout";
    ViewData["Title"] = "Usage Samples";
}
<div class="container-fluid">
    <div class="mx-5 mt-2">
        <div class="row">
            <div class="col p-2" data-review-id=@Model.Review.ReviewId>
                @if (Model.Sample.SampleContent == null)
                {
                    <div class="text-muted">There is no sample present in the review. 
                        <br /> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModel">Add Usage Sample</button> 
                    </div>
                }
                else
                {
                    <div class="border rounded">
                        <p> There is a sample but you haven't coded this yet </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add or overwrite Usage Sample</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Pick an upload method:</label>

                            <ul class="nav nav-pills nav-fill mb-3">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#md-text">Markdown Text</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#md-file">Markdown File</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content border rounded p-3">
                                <div class="tab-pane active" id="md-text">
                                    <div class="new-comment-content">
                                        <form data-post-update="usagesamples" class="new-thread-comment-form" method="post" asp-controller="UsageSample" asp-action="Add">
                                            <input name="reviewId" hidden value="@Model.Review.ReviewId"/> 
                                            <div class="new-sample-content">
                                                <textarea class="new-thread-comment-text form-control" name="sampleText" rows="5" placeholder="Enter your markdown formatted usage sample here"></textarea>
                                            </div>
                                            <button type="submit" name="submit" value="Submit" class="comment-submit-button btn btn-outline-dark">Add Sample</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="md-file">
                                    <form asp-page-handler="Upload" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input asp-for="Upload.Files" type="file" class="custom-file-input">
                                                <label asp-for="Upload.Files" class="custom-file-label">Select usage sample for this review</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fas fa-cloud-upload-alt"></i>Upload</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
