@page
@model APIViewWeb.Pages.Assemblies.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload a DLL</h1>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload an API assembly for review using this form:</p>
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </section>
</div>
<hr />

