@use "../shared/mixins.scss" as *;

#conversation-main-container {
    @include main-content-container;
}

.conversiation-center {
    overflow: auto;
    color: var(--base-text-color);
    height: calc(100vh - 115px);
}
