@import "../shared/mixins.scss";
#review-info-bar {
    font-size: small;
    background-color: var(--base-fg-color);
}

#review-right-offcanvas-toggle + .btn-sm {
    padding: 0.05rem 0.4rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
}

.breadcrumb .icon-language {
    min-height: 20px;
    width: 20px;
}

#review-left {
    max-width: none;
    min-width: 10px;
    height: calc(100vh - 130px);
    overflow: auto;
    max-height: 100vh;
    padding: 5px 0px 5px 10px;
    background-color: var(--base-fg-color);
}

#review-main-container {
    @include main-content-container;
}

#review-right {
    max-width: 100%;
    min-width: 100px;
    height: calc(100vh - 130px);
    padding: 0px;
    overflow: auto;
    background-color: var(--base-fg-color);
    scroll-behavior: smooth;
    contain: size layout paint;
}


#right-review-offcanvas-menu-content {
    padding: 10px 20px 10px 20px;
    @include review-offcanvas-menu-content;
}

#left-review-offcanvas-menu-content {
    padding: 10px 0px 10px 5px;
    @include review-offcanvas-menu-content;
}

#left-review-offcanvas-menu-content {
    .btn-check:focus + .btn, .btn:focus {
        box-shadow: none !important;
    }

    .btn {
        border-radius: 0px;
    }
    .btn.active {
        box-shadow: var(--box-shadow-left);
    }
}

#apiRevisions-context, #conversiations-context, #add-apirevision-context {
    width: 50dvw;
    background-color: var(--base-bg-color);
}
#add-apirevision-context {
    width: 30dvw;
    background-color: var(--base-bg-color);
}

#apiRevisions-context {
    .card {
        flex-direction: row;
        overflow: hidden;
        background-color: var(--base-fg-color);

        img {
            width: 105px;
            height: 105px;
        }
    }

    .card.True {
        @include review-approval-border;
    }
}

.apiRevisions-list-container {
    overflow: auto;
    height: 80dvh;

    .btn-group-vertical {
        align-self: center;
        margin-right: 15px;
        display: none;
    }

    .apirevision-indicator-checks {
        align-self: center;
        margin-right: 20px;
    }
}

.apiRevisions-list-container > .card:hover {
    .btn-group-vertical {
        display: inline-flex;
    }
}

.review-approved {
    @include review-approval-border;
    border-radius: 3px;
}

.show-diffonly-switch, .show-documentation-switch {
    color: var(--base-text-color) !important;
}

.gutter {
    &:hover {
        background-color: var(--base-fg-color);
    }

    &.gutter-horizontal {
        cursor: col-resize;
    }
}

.option-approved > label, .option-pending > label {
    font-size: small;
}

.option-approved > label::after {
    content: "ï˜";
    font-family: "FontAwesome";
    margin-left: 10px;
    color: var(--success-color);
    font-size: medium;
}