@import "../shared/mixins.scss";

#add-revision-button {
    @include bottom-right-floating;
    @include btn-circle;
    @include btn-circle-xl;
}

#revisions-main-container {
    @include main-content-container;

    .apiRevisions-list-container {
        .card {
            cursor: pointer;
        }

        .card:hover {
            box-shadow: var(--box-shadow-link) !important;
        }
    }
}

.apiRevisions-list-container {
    overflow: auto;
    height: 78dvh;

    .apirevision-actions {
        align-self: center;
        margin-right: 15px;
        display: none;
    }

    .apirevision-indicator-checks, .apirevision-actions {
        align-self: center;
        margin-right: 20px;
    }

    .card {
        flex-direction: row;
        overflow: hidden;
        background-color: var(--base-fg-color);

        .card-body {
            padding: 0.5rem 0.75rem;
            font-size: small;
        }

        img {
            width: 80px;
            height: 80px;
        }

        .edit-api-revision-label {
            max-width: 500px;
        }
    }

    .card.True {
        @include review-approval-border;
    }
}

.apiRevisions-list-container > .card:hover {
    .apirevision-actions {
        display: inline-flex;
    }
}