@import "../shared/mixins.scss";

#review-info-bar > .SumoSelect:nth-of-type(even) {
    width: 20%;
}

#review-info-bar > .SumoSelect:nth-of-type(odd) {
    width: 10%;
}

#revision-select ~ .optWrapper {
    width: auto;
    min-width: 250px;
}

#diff-select ~ .optWrapper {
    width: auto;
    min-width: 250px;
}

#revision-select {
    width: 20%;
}

#diff-select {
    width: 20%;
}

#review-left {
    max-width: none;
    min-width: 10px;
    height: calc(100vh - 220px);
    overflow: auto;
    max-height: 100vh;
    padding: 5px 0px 5px 10px;
    background-color: var(--base-fg-color);
}

#review-main-container {
    @include main-content-container;
}

#review-right {
    max-width: 100%;
    min-width: 100px;
    height: calc(100vh - 220px);
    padding: 0px;
    overflow: auto;
    background-color: var(--base-fg-color);
    scroll-behavior: smooth;
    contain: size layout paint;
}

#review-offcanvas-menu-content {
    padding: 10px 20px 10px 20px;
    min-height: calc(100vh - 190px);
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    margin-top: 150px;
}

.review-approved {
    border: solid 2px var(--success-color);
    box-shadow: var(--box-shadow-success);
    border-radius: 3px;
}

.show-diffonly-switch, .show-documentation-switch {
    color: var(--base-text-color) !important;
}

.gutter {
    &:hover {
        background-color: var(--base-fg-color);
    }

    &.gutter-horizontal {
        cursor: col-resize;
    }
}

.option-approved > label, .option-pending > label {
    font-size: small;
}

.option-approved > label::after {
    content: "ï˜";
    font-family: "FontAwesome";
    margin-left: 10px;
    color: var(--success-color);
    font-size: medium;
}