# TeamsFx files
# Force include env folder to override parent gitignore rules
!env/
!env/**
env/.env.*.user
env/.env.local
.localConfigs
.localConfigs.testTool
.localConfigs
.notification.localstore.json
.notification.testtoolstore.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# build
lib/

# Dev tool directories
/devTools/

azsdk-cli/
