
<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
<div class="d-flex align-items-center mb-2">
    <div class="input-group flex-grow-1 me-2">
        <input type="text" class="form-control search-input" [(ngModel)]="searchQuery"
            placeholder="Search.. e.g pr:<Pull-Request Number>, package:<Package Name>, author:<Github UserName>"
            (ngModelChange)="onSearchInput()" (keyup.enter)="onSearch()" />
        <button *ngIf="searchQuery" class="btn btn-outline-secondary" type="button" (click)="searchQuery = ''; onSearch()"><i class="bi bi-x-lg"></i></button>
        <button class="btn btn-outline-primary" type="button" (click)="onSearch()"><i class="bi bi-search"></i></button>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="filterSideBarVisible = true"><i class="bi bi-funnel me-1"></i>Options</button>
</div>
<p-table
    #reviewsTable
    [rows]="noOfRows"
    [value]="reviews"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="flex"
    responsiveLayout="stack"
    [lazy]="true"
    [lazyLoadOnInit]="false"
    [virtualScroll]="true"
    [virtualScrollDelay]="0"
    [virtualScrollItemSize]="rowHeight"
    [(contextMenuSelection)]="selectedReview"
    [contextMenu]="cm"
    [customSort]="true"
    (onLazyLoad)="onLazyLoad($event)"
    (onSort)="onSort($event)"
    (onFilter)="onFilter($event)"
    selectionMode="single"
    [(selection)]="selectedReview"
    (onRowSelect)="onRowSelect($event)"
    [tableStyle]="{ 'min-width': '10rem' }"
    styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="packageName" style="width:auto">Name<p-sortIcon class="ms-2" field="packageName"></p-sortIcon></th>
            <th style="width:15%">CreatedBy</th>
            <th pSortableColumn="lastUpdatedOn" style="width:15%">Last Updated<p-sortIcon class="ms-2" field="lastUpdatedOn"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-review>
        <tr [pContextMenuRow]="review" [pSelectableRow]="review">
            <td>
                <img class="me-2" src="{{assetsPath}}/images/{{ review.language | languageNames: userProfile?.preferences?.theme }}-original.svg" alt="{{review.language}}" width="25">
                <a *ngIf="isTreeStyleLanguage(review.language)" class="review-link" [routerLink]="['/review', review.id]" (click)="$event.stopPropagation()">{{ review.packageName }}</a>
                <a *ngIf="!isTreeStyleLanguage(review.language)" class="review-link" (click)="$event.stopPropagation(); viewReview(review)">{{ review.packageName }}</a>
                <i *ngIf="review.isApproved" class="fas fa-check-circle text-success ms-1"></i>
            </td>
            <td>{{ review.createdBy }}</td>
            <td><span *ngIf="review.lastUpdatedOn">{{ review.lastUpdatedOn | timeago }}</span></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-center">
            {{totalNumberOfReviews}} {{reviewListDetail}} Review(s)
        </div>
    </ng-template>
</p-table>
<p-drawer [(visible)]="filterSideBarVisible" position="right" [showCloseIcon]="false" styleClass="filters-sidebar">
    <h4>Filters</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="me-auto">
                <div class="fw-medium">Languages</div>
                <p-multiSelect [options]="languages" [(ngModel)]="selectedLanguages" (onChange)="onLanguageFilterChange()" optionLabel="label"
                    placeholder="Select Languages" [style]="{'width':'100%', 'margin-top':'8px'}">
                    <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                            <img [alt]="" src="{{assetsPath}}/images/{{ option.label | languageNames: userProfile?.preferences?.theme }}-original.svg" width="24" class="vertical-align-middle" />
                            <span class="mx-2 mt-1">{{ option.label }}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
        </li>
        <li class="list-group-item">
            <div class="me-auto">
                <div class="fw-medium">State</div>
                <p-select [options]="stateOptions" [(ngModel)]="selectedState" (onChange)="onStateFilterChange()" optionLabel="label" optionValue="value"
                    [style]="{'width':'100%', 'margin-top':'8px'}"></p-select>
            </div>
        </li>
        <li class="list-group-item">
            <div class="me-auto">
                <div class="fw-medium">First Release Approval</div>
                <p-selectButton
                    styleClass="apiview-toggle-button-group"
                    [options]="firstReleaseApprovalOptions"
                    [(ngModel)]="firstReleaseApproval"
                    (onChange)="updateFirstReleaseApproval($event)"
                    optionLabel="label"
                    optionValue="value"
                    [style]="{'margin-top':'8px'}" />
            </div>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="resetFilters()"><i class="bi bi-x-circle me-1"></i>Reset Filters</button>
        </li>
    </ul>
</p-drawer>
