:host ::ng-deep .review-menubar {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--base-fg-color);
    padding: 0.5rem;

    .p-menubar-start {
        display: flex;
        align-items: center;
    }
}

.sidebar-toggle-btn {
    padding: 0rem  0.35rem;
    border: none !important;
    background: transparent !important;
    color: var(--text-muted-color) !important;
    font-size: 1.25rem;
    position: relative;

    &:hover {
        color: var(--base-text-color) !important;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 0;
        height: 2px;
        background: var(--primary-color);
        transition: width 0.15s;
    }
}

.btn-check:checked + .sidebar-toggle-btn {
    color: var(--base-text-color) !important;

    &::after {
        width: 60%;
    }
}
