AZURE_OPENAI_API_ENDPOINT="the endpoint for your Azure OpenAI instance"
AZURE_OPENAI_API_CREDENTIALS=cli
# AZURE_OPENAI_API_KEY="your_azure_openai_api_key_here"
# AZURE_OPENAI_API_VERSION="your_azure_openai_api_version_here"

#OPENAI_API_KEY="your_openai_api_key_here"
