@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An unexpected error occurred while processing your request.</h2>
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
            <p>
                Please <a href="mailto:azuresdkengsysteam@microsoft.com">email</a> site adminstrator for support.
            </p>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>