@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to APIView</h1>
    <br />
    <p>APIView is a tool for efficiently reviewing APIs. Click on "Upload" in the navigation bar to upload a DLL, or check on existing assemblies via "Assemblies".</p>
</div>
