@page
@model APIViewWeb.Pages.UnauthorizedModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>You're currently not logged into a GitHub account.</p>
<p>In order to use the site, please log into an account associated with the <a href="https://github.com/Azure">Azure organization</a> by clicking the button below.</p>
<a class="login-button btn btn-outline-dark" asp-action="Login" asp-controller="Account">Login with GitHub</a> <img height="30" width="30" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />