@page
@model APIViewWeb.Account.AccessDeniedModel
@{
}

<p>Your GitHub account is not publicly affiliated with the Azure organization.</p>
<p>In order to use the site, please sign into another account - or, request to join the <a href="https://github.com/Azure">Azure org</a>.</p>
<p>If you are a member of Azure but can't access the site, find yourself under the "People" tab of the organization page and set your visibility to public.</p>
<a class="login-button btn btn-outline-dark" asp-action="Logout" asp-controller="Account">Logout from GitHub</a>
<img height="30" width="30" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />