.icon-assembly {
    background: url(/icons/java/common/assembly.svg) center left no-repeat !important;
}

.icon-gradle {
    background: url(/icons/java/common/gradle.svg) center left no-repeat !important;
}

.icon-maven {
    background: url(/icons/java/common/maven.svg) center left no-repeat !important;
}

.icon-namespace {
    background: url(/icons/java/common/namespace.svg) center left no-repeat !important;
}

.icon-spring {
    background: url(/icons/java/common/spring.svg) center left no-repeat !important;
}

.icon-unknown {
    background: url(/icons/java/common/unknown.svg) center left no-repeat !important;
}

.icon-android {
    background: url(/icons/java/common/android.svg) center left no-repeat !important;
}

.icon-annotation {
    background: url(/icons/java/kotlin/annotation.svg) center left no-repeat !important;
}

.icon-class {
    background: url(/icons/java/kotlin/class.svg) center left no-repeat !important;
}

.icon-enum {
    background: url(/icons/java/kotlin/enum.svg) center left no-repeat !important;
}

.icon-interface {
    background: url(/icons/java/kotlin/interface.svg) center left no-repeat !important;
}

.icon-function {
    background: url(/icons/java/kotlin/function.svg) center left no-repeat !important;
}

.icon-kotlinLanguage {
    background: url(/icons/java/kotlin/kotlinLanguage.svg) center left no-repeat !important;
}

.icon-object {
    background: url(/icons/java/kotlin/object.svg) center left no-repeat !important;
}

.icon-property {
    background: url(/icons/java/kotlin/property.svg) center left no-repeat !important;
}

.icon-module {
    background: url(/icons/java/common/module.svg) center left no-repeat !important;
}

