 /* Themes
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.light-theme {
    --background-color: #fff;
    --border-color: #dee2e6;
    --border-color-deeper: #6a757d;
    --text-color: #212529;
    --text-color-muted: #6e7781;
    --bg-light: #f8f9fa;
    --bg-light-hover: #e2e6ea;
    --link-color: #006ee5;
    --link-color-hover: #0056b3;
    --btn-outline-dark: #343a40;
    --monochrome-8: rgb(0 0 0 / 8%);
    --monochrome-2: rgba(0, 0, 0, 0.2);
    --monochrome-25: rgba(0, 0, 0, 0.25);
    --monochrome-19: rgba(0, 0, 0, 0.19);
    --monochrome-15: rgba(0, 0, 0, 0.15);
    --monochrome-75: rgba(0, 0, 0, .075);
    --monochrome-5: rgba(0, 0, 0, 0.5);
    --monochrome-03: rgba(0, 0, 0, 0.03);
    --monochrome-125: rgba(0, 0, 0, 0.125);
    --focus-shadow: rgb(0 123 255 / 25%);
    --muted-color: #6c757d;
    --icon-color-filter: invert(0.0);
    --keyword-color: blue;
    --class-color: #007e79;
    --name-color: var(---text-color);
    --code-color: #d1377e;
    --code-comment: green;
    --code-diagnostics-error-color: lightpink;
    --code-diagnostics-warn-color: lightyellow;
    --code-diagnostics-info-color: lightblue;
    --code-added: #cee9d3;
    --code-removed: #fdcfce;
    --code-delta: #fdefc6;
}

.dark-theme {
    --background-color: #010409;
    --border-color: #30363d;
    --border-color-deeper: #6d757f;
    --text-color-muted: #9199a0;
    --text-color: #c9d1d9;
    --bg-light: #161b22;
    --bg-light-hover: #30363d;
    --link-color: #0084ff;
    --link-color-hover: #a8d2ff;
    --btn-outline-dark: #ccd6df;
    --monochrome-8: rgba(255, 255, 255, 8%);
    --monochrome-2: rgba(255, 255, 255, 0.2);
    --monochrome-25: rgba(255, 255, 255, 0.25);
    --monochrome-19: rgba(255, 255, 255, 0.19);
    --monochrome-15: rgba(255, 255, 255, 0.15);
    --monochrome-75: rgba(255, 255, 255, .075);
    --monochrome-5: rgba(255, 255, 255, 0.5);
    --monochrome-03: rgba(255, 255, 255, 0.03);
    --monochrome-125: rgba(255, 255, 255, 0.125);
    --focus-shadow: rgba(0, 123, 255, 0.642);
    --muted-color: #717a83;
    --icon-color-filter: invert(0.5);
    --keyword-color: #ff7b72;
    --class-color: #d2a8ff;
    --name-color: var(---text-color);
    --code-color: #db3984;
    --code-comment: green;
    --code-diagnostics-error-color: darkmagenta;
    --code-diagnostics-warn-color: #846007;
    --code-diagnostics-info-color: darkblue;
    --code-added: #14432d;
    --code-removed: #491d24;
    --code-delta: #4c401a;
}

.dark-solarized-theme {
    --background-color: #2b2b2b;
    --border-color: #42474d;
    --border-color-deeper: #5d646c;
    --text-color-muted: #acb2b9;
    --text-color: white;
    --bg-light: #3c3f41;
    --bg-light-hover: #30363d;
    --link-color: #bbbbbb;
    --link-color-hover: #f4c56c;
    --btn-outline-dark: #67a4f2;
    --monochrome-8: rgba(255, 255, 255, 8%);
    --monochrome-2: rgba(255, 255, 255, 0.2);
    --monochrome-25: rgba(255, 255, 255, 0.25);
    --monochrome-19: rgba(255, 255, 255, 0.19);
    --monochrome-15: rgba(255, 255, 255, 0.15);
    --monochrome-75: rgba(255, 255, 255, .075);
    --monochrome-5: rgba(255, 255, 255, 0.5);
    --monochrome-03: rgba(255, 255, 255, 0.03);
    --monochrome-125: rgba(255, 255, 255, 0.125);
    --focus-shadow: rgba(0, 123, 255, 0.642);
    --muted-color: #717a83;
    --icon-color-filter: invert(0.5);
    --keyword-color: #d57c32;
    --class-color: #ffc66d;
    --name-color: #a9b7c6;
    --code-color: #db3984;
    --code-comment: #8a9898;
    --code-diagnostics-error-color: #ff4c59;
    --code-diagnostics-warn-color: #e3a710;
    --code-diagnostics-info-color: #5197f0;
    --code-added: #345039;
    --code-removed: #5d3837;
    --code-delta: #695b32;
}

/* Mixins, Media, Include and Keyframes
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@mixin placeholder 
{
    ::-webkit-input-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    ::-ms-input-placeholder {
        @content;
    }
}

@include placeholder {
    font-style: italic;
}

@keyframes glow {
    0% {
        background-color: rgba(0,0,0,0)
    }

    25% {
        background-color: #fff6b3
    }

    100% {
        background-color: rgba(0,0,0,0)
    }
}

/* Color table
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
$success-green: #208636;
$pale-green: #008484;

/* HTML Tags
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--text-color);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

form.comment {
    padding: 12px;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Enable clear button in search input
----------------------------------------------------------------------*/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}
/*---------------------------------------------------------------------*/

/* IDs
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Splitter
----------------------------------------------------------------------*/
#review-left {
    max-width: none;
    min-width: 10px;
    height: auto;
    overflow: auto;
    max-height: 100vh;
    padding: 5px 0px 5px 10px;
}

#review-right {
    max-width: 100%;
    min-width: 100px;
    padding: 0px;
    overflow-y: auto;
}
/*---------------------------------------------------------------------*/

#reviews-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid var(--border-color);
}

#reviews-table-search-container {
    min-width: 100px;
    max-width: 40vw;
}

/* Classes
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Classes Overridden
----------------------------------------------------------------------*/
.badge-light {
    color: var(--text-color);
    background-color: var(--bg-light-hover);
}

.bg-light {
    background-color: var(--bg-light) !important;
}

.border {
    border: 1px solid var(--border-color) !important;
}

.border-left {
    border-left: 1px solid var(--border-color) !important;
}

.border-top {
    border-top: 1px solid var(--border-color) !important;
}

.border-bottom {
    border-bottom: 1px solid var(--border-color) !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: var(--text-color);
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
    border-bottom: 6px solid var(--background-color);
}

.btn-light {
    color: var(--text-color);
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}

.btn-light:hover, .btn-light:active {
    color: var(--text-color);
    background-color: var(--bg-light-hover);
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: var(--text-color);
    background-color: var(--bg-light-hover);
}

.btn-success {
    background-color: $success-green;
}

.card-header {
    background-color: var(--monochrome-03);
    border-bottom: 1px solid var(--monochrome-125);
}

.custom-file-label {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.custom-file-label::after {
    color: var(--text-color);
    background-color: var(--bg-light);
}

.custom-select {
    color: var(--text-color);
    background-color: var(--background-color);
}

.close {
    color: var(--text-color);
}

.dropdown-menu {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--monochrome-15);
}

.dropdown-item {
    color: var(--text-color);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--text-color);
    background-color: var(--bg-light);
}

.form-control {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.form-control {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.form-control:focus {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: 0 0 0 0.2rem var(--focus-shadow);
}

.list-group-item
{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.modal-header {
    border-bottom: 1px solid var(--border-color);
}

.modal-content {
    background-color: var(--background-color);
    border: 1px solid var(--monochrome-2);
}

.modal-footer {
    border-top: 1px solid var(--border-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--link-color);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem var(--monochrome-8) !important;
}

.table {
    color: var(--text-color);
}

.table th, .table td {
    border-top: 1px solid var(--border-color);
}

.table thead th {
    border-bottom: 2px solid var(--border-color);
}

.table-hover tbody tr:hover {
    color: var(--text-color);
    background-color: var(--monochrome-75);
}

.text-black-50 {
    color: var(--monochrome-5) !important;
}

.text-dark {
    color: var(--text-color) !important;;
}

.text-muted {
    color: var(--muted-color) !important;
}

a.text-dark:focus, a.text-dark:hover {
    color: var(--text-color) !important;
}

.page-link {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.page-link:hover {
    background-color: var(--bg-light-hover);
    border-color: var(--border-color);
}

.page-item.disabled .page-link {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}

pre {
    color: var(--text-color);
}

.popover {
    border-color: var(--border-color);
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
    border-bottom-color: var(--background-color);
}

.bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: var(--monochrome-25);
}

.bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^="bottom"] .popover-header::before {
    border-bottom: 1px solid var(--background-color);
}

.popover-header {
    background-color: var(--background-color);
    color: var(--text-color);
}
.popover-body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Code rendering classes
----------------------------------------------------------------------*/

.class {
    color: var(--class-color);
}

code {
    color: var(--code-color);
}

.code-comment {
    color: var(--code-comment);
}

.code-added {
    background-color: rgba(46,160,67,0.3);
}

.code-removed {
    background-color: rgba(248,81,73,0.3);
}

.code-delta {
    background-color: rgba(248,201,67,0.3);
}

.enum {
    color: #8700BD;
}

.keyword {
    color: var(--keyword-color);
}

.name, a.name {
    color: var(--name-color);
}

.specialName {
    color: #A400EB;
    font-weight: bold;
}

.type {
    color: #B93D3D;
}

.value {
    color: #008509;
}

/*---------------------------------------------------------------------*/

.apiview-logo {
    width: 30px;
}

.bootstraps-select-label {
    padding: 4px 5px 3px 2px;
}

.bottom-right-floating {
    position:fixed;
    z-index: 10;
    bottom:10%;
    right:5%;
}

.btn-upvote span {
    filter: grayscale(100%) opacity(30%);

    &.active {
        filter: unset;
    }
}

.btn-link.line-comment-button {
    border: 0;
    opacity: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
}

.btn-primary {
    background-color: var(--link-color);
}

.btn-outline-primary {
    color: var(--link-color);
    border-color: var(--link-color);
}

.btn-outline-dark {
    color: var(--btn-outline-dark);
    border-color: var(--btn-outline-dark);
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle-xl {
    width: 100px;
    height: 100px;
    line-height: 1.2rem;
    font-weight: bold;
    font-size: 1.0rem;
    box-shadow: 0 4px 8px 0 var(--monochrome-2), 0 6px 20px 0 var(--monochrome-19);
}

.btn-xs {
    height: 25px !important;
    font-size: 15px;
    vertical-align: middle;
    padding: 0.01rem;
}

/* Diagnostics
----------------------------------------------------------------------*/
.code-diagnostics-error {
    background-color: var(--code-diagnostics-error-color);
    border: 1px solid red;
}

.code-diagnostics-warn {
    background-color: var(--code-diagnostics-warn-color);
    border: 1px solid #ffe066;
}

.code-diagnostics-info {
    background-color: var(--code-diagnostics-info-color);
    border: 1px solid blue;
}

.code-diagnostics p {
    margin: 0;
}

.code-diagnostics div {
    position: sticky;
    left: 0px;
    padding-left: 10px;
    max-width: 2000px;
}
/*---------------------------------------------------------------------*/

.clickable {
    cursor: pointer;
}

.comment-thread-anchor {
    visibility: hidden;
}

.comment-thread-contents.new-thread-comment {
    background-color: #FFF;
    border: 0;
    margin: -8px -16px;
}

.comment-row {
    border: 1px solid var(--border-color);
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

.comment-cancel-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.comment-cell {
    padding: 10px;
    vertical-align: top;
}

.comment-contents {
    margin-bottom: 3px;
    overflow-wrap: break-word;
}

.comment-header {
    margin-bottom: 0px;
    line-height: 0.8 !important;
    display: inline;
}

.comment-holder {
    max-width: 780px;
    position: sticky;
    left: 10px;
    z-index: 100; // for user suggestion box, position sticky creates new stacking order, so z-index has to be set here too
}

.comment-icon {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.comment-submit-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0 4px 0;
}

.comments-resolved {
    display: none;
}

.code-window {
    font-size: 14px;
    line-height: 1.5;
    border-collapse: separate;
    tab-size: 8;
    border-spacing: 0;
    background-color: var(--background-color); // prevents code-window from overlapping stickySidebar
    width: 200%;
}

.code-lines-header {
    border-bottom: 1px solid #DEE2E6;
    vertical-align: middle;
    padding-top: 9px;
    padding-left: 10px;
    font-size: small;
    font-weight: normal;
}

.code-line {
    display: table-row;
    font-family: Consolas, monospace;
    line-height: 20px;
}

.code-line:hover .line-details-button-cell .line-comment-button {
    opacity: 1;
}

.code-line .table .line-comment-button {
    position: absolute;
    left: -21px;
}

.code-line .table tr:hover .line-comment-button {
    opacity: 1;
}

.code-line.active, .code-line tr.active {
    animation: glow normal 1.5s ease-in-out;
}

.code {
    padding: 0px;
    position: relative;
    vertical-align: top;
}

.code-inner {
    word-wrap: normal;
    white-space: pre;
    width: 80%
}

.code-inner > svg {
    float: left;
}

.code-inner > svg > text {
    fill: var(--text-color);
}

.code-inner > svg > line {
    stroke: var(--border-color-deeper);
}

.code-inner > table {
    display: inline-table;
    position: relative;
    width: 50%;
    table-layout: auto;
    white-space: normal;
}

.code-inner td, .code-inner th, .code-inner thead, .code-inner tbody, .code-inner table, .code-inner tr {
    border: 1px solid var(--border-color-deeper);
}

.code-inner > .table thead th {
    border-bottom: 1px solid var(--border-color-deeper);
}

.deprecated {
    text-decoration: line-through;
}
.hidden-api {
  color: var(--text-color-muted) !important;
  font-style: italic;
}

.file-code-icon {
    filter: var(--icon-color-filter);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
}

.gutter {
    &:hover {
        background-color: var(--bg-light);
    }

    &.gutter-horizontal {
        cursor: col-resize;
    }
}

.hidden-row {
    display: none;
}

.hidden-row-via-filter {
    display: none;
}

/* Icons
----------------------------------------------------------------------*/
.icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-class {
    background: url(/icons/class.png) center left no-repeat;
}

.icon-interface {
    background: url(/icons/interface.png) center left no-repeat;
}

.icon-struct {
    background: url(/icons/struct.png) center left no-repeat;
}

.icon-enum {
    background: url(/icons/enum.png) center left no-repeat;
}

.icon-delegate {
    background: url(/icons/delegate.png) center left no-repeat;
}

.icon-unknown {
    background: url(/icons/type.png) center left no-repeat;
}

.icon-assembly {
    background: url(/icons/assembly.png) center left no-repeat;
}

.icon-namespace {
    background: url(/icons/namespace.png) center left no-repeat;
}

.icon-package {
    background: url(/icons/package.png) center left no-repeat;
}

.icon-method {
    background: url(/icons/method.png) center left no-repeat;
}

.icon-comments {
    cursor: pointer;
    position: absolute;
    right: -25px;
}

.icon-chevron-right {
    background: url(/icons/chevron-right.svg) center center no-repeat;
}

.icon-chevron-up {
    background: url(/icons/chevron-up.svg) center center no-repeat;
}

.icon-language {
    width: 34px;
    height: 34px;
}

.icon-csharp {
    background: url(/icons/csharp-original.svg) center center no-repeat;
}

.icon-javascript {
    background: url(/icons/javascript-original.svg) center center no-repeat;
}

.icon-python {
    background: url(/icons/python-original.svg) center center no-repeat;
}

.icon-c {
    background: url(/icons/c-original.svg) center center no-repeat;
}

.icon-cplusplus {
    background: url(/icons/cplusplus-original.svg) center center no-repeat;
}

.icon-go {
    background: url(/icons/go-original.svg) center center no-repeat;
}

.icon-java {
    background: url(/icons/java-original.svg) center center no-repeat;
}

.icon-java-spring {
    background: url(/icons/java-spring-original.svg) center center no-repeat;
}

.icon-java-android {
    background: url(/icons/java-android-original.svg) center center no-repeat;
}

.icon-swift {
    background: url(/icons/swift-original.svg) center center no-repeat;
}

.icon-kotlin {
    background: url(/icons/kotlin-original.svg) center center no-repeat;
}

.icon-json {
    background: url(/icons/json-original.svg) center center no-repeat;
}

.icon-swagger {
    background: url(/icons/swagger-original.svg) center center no-repeat;
}
/*---------------------------------------------------------------------*/
.invisible {
    visibility: hidden;
}

.info-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.line-number {
    padding-left: 10px;
    padding-right: 12px;
    text-align: right;
    white-space: nowrap;
    width: auto;
}

.line-comment-button:hover {
    transform: scale(1);
}

.line-comment-button {
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    color: #fff !important;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    background-color: #0366d6;
    background-image: linear-gradient(#0372ef, #0366d6);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(27, 31, 35, .15);
    opacity: 0;
    transition: transform .1s ease-in-out;
    transform: scale(.8);
    user-select: none;
}

.line-toggle-documentation-button {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.line-toggle-documentation-button svg {
    top: 0px;
    left: 0px;
}

.line-toggle-documentation-button i {
    position: absolute;
    top: 25%;
    left: 25%;
}

.line-details-button-cell {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    padding: 0px;
}

.line-details-button-cell svg > line {
    stroke: var(--text-color-muted);
}

.line-details {
    border-right: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color-muted);
    z-index: 1;
    position: sticky;
    left: 0;
    cursor: pointer;
    width: 1%;
    white-space: nowrap;
    padding: 0px;
}

.line-details.code-added {
    background-color: var(--code-added);
    color: var(--text-color);
}

.line-details.code-removed {
    background-color: var(--code-removed);
    color: var(--text-color);
}

.line-details.code-delta {
    background-color: var(--code-delta);
    color: var(--text-color);
}

.line-details table {
    width: 100%;
}

.line-details td {
    vertical-align: middle;
}

.row-fold-caret i {
    position: relative;
    left: 6px;
}

.login-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

mark {
    padding: 0;
}

.media {
    margin-bottom: 5px;
}

/* Nav
----------------------------------------------------------------------*/

.nav-list {
    list-style-type: none;
    padding-left: 0px;
}

.nav-list-children {
    list-style-type: none;
    text-overflow: ellipsis;
    padding-left: 0;
    margin-bottom: 0 !important; // prevents flickering in stickySidebar
}

.nav-list-children>li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-list-toggle {
    padding-left: 14px;
    background: url(/icons/down.png) center left no-repeat;
}

.nav-list-collapsed>.nav-list-toggle {
    background: url(/icons/right.png) center left no-repeat;
}

.nav-list-collapsed>.nav-list-children {
    display: none;
}

.nav-list-group .nav-list-children {
    padding-left: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    z-index: 1030;
}
/*----------------------------------------------------------------------*/

.namespace-view {
    font-size: 14px;
    font-family: monospace;
}

.new-comment-content {
    position: relative;
    margin: 0 4px 8px;
}

.new-thread-comment {
    border-radius: 3px;
    line-height: 1.5;
    border-collapse: separate;
    tab-size: 8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
}

.new-thread-comment-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: var(--bg-light);
    max-width: 758px;
}

.review-comment {
    padding: 4px 16px;
    position: relative;
}

.review-comment:first-child {
    padding-top: 16px;
}

.review-comment p {
    margin-bottom: 0;
}

.review-comment blockquote {
    padding-left: 14px;
    padding-right: 14px;
    border-left-color: #E9E5E2;
    border-left-style: solid;
    border-left-width: 3.5px;
    color: #6A737D;
}

.review-comment pre {
    background-color: var(--bg-light-hover);
}

.review-thread-reply {
    background-color: var(--bg-light);
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #E1E4E8;
    border-bottom: 1px solid #E1E4E8;
    padding: 8px 16px;
    display: table;
    width: 100%;
}

.review-thread-reply-button {
    cursor: text;
    display: inline-block;
    min-height: 28px;
    padding: 3px 8px;
    width: 100%;
}

.reply-cell {
    display: table-cell;
}

.rounded-left-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.rounded-1 {
    border-radius: 3px !important;
}

.row-fold-elipsis {
    margin-left: 8px;
}

.row-fold-elipsis i {
    position: relative;
    top: 2px;
}

/* Tag suggestion box
----------------------------------------------------------------------*/
.tag-user-suggestion {
    min-width: 180px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: var(--bg-light);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-shadow: var(--focus-shadow);
    z-index: 100;
    list-style-type: none;
    box-sizing: border-box;
}

.tag-user-suggestion-username {
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 8px;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
}

.tag-user-suggestion-username:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tag-user-suggestion-username:hover {
    background-color: var(--focus-shadow);
}

// shows what option is selected during arrow navigation
.tag-user-suggestion-username-targetted {
    background-color: var(--focus-shadow);
}

// mirror box
.new-thread-comment-text-mirror {
    position: absolute;
    top: 0;
    left: -9999px;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-height: 77px;
    letter-spacing: normal;
    line-height: 21px;
    padding: 0.75rem 0.375rem;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    text-indent: 0px;
    text-transform: none;
    word-spacing: 0px;
}

.position-relative-top-1 {
    position: relative;
    top: 1px;
}

.review-approved {
    border: solid 1px #28a745;
    border-radius: 3px;
}
