.usage-sample {
    padding: 4px;
    margin: 10px;
}

.usage-sample + .border + .rounded {
    margin-top: 15px !important;
}

.usage-sample .code-line {
    padding: 0px;
    margin: 0px;
    font-size: 85%;
    line-height: 10px;
}

.usage-sample .line-number {
    font-size: 125%;
}

.code-inner {
    height: 100%;
}

.usage-sample .internal {
    display: inline-block;
}
