@using APIView.Model
@using ApiView
@using System.Collections
@{
    var codeLineSection = TempData["CodeLineSection"] as TreeNode<CodeLine>;
}
@if (codeLineSection != null)
{
    <td class="line-details">
        <table>
            <tr>
                <td class="line-number"><span></span></td>
                <td class="line-details-button-cell">
                    <a class="line-comment-button" style="visibility: hidden;">+</a>
                </td>
                <td class="line-details-button-cell">
                </td>
            </tr>
        </table>
    </td>
    <td class="code-line-section-inner-content">
        @{
            var htmlMarkUp = String.Empty;
            using(IEnumerator<TreeNode<CodeLine>> enumerator = codeLineSection.GetEnumerator())
            {
                enumerator.MoveNext();
                while(enumerator.MoveNext())
                {
                    var node = enumerator.Current;
                    var indent = String.Empty;
                    for (var i = 0; i < node.Level; i++)
                    {
                        indent += "<span class='code-inner-indent'></span>";
                    }
                    htmlMarkUp += "<div>";
                    htmlMarkUp += indent;
                    htmlMarkUp += $"<span class='code-inner'>{@Html.Raw(node.Data.DisplayString)}</span>";
                    htmlMarkUp += "</div>";
                }
            }
         }
         @Html.Raw(htmlMarkUp)
    </td>
}