@using APIViewWeb.Models
@model HashSet<GithubUser>
<div id="js-comment-form-template" class="d-none">
    <div class="comment-form border-top border-bottom new-thread-comment">
        <form data-post-update="comments" class="new-thread-comment-form comment" method="post" asp-controller="Comments" asp-action="Add">
            <div class="new-comment-content">
                <textarea class="new-thread-comment-text form-control" name="commentText" rows="3" placeholder="Click Add Comment or press Ctrl+Enter to add your comment."></textarea>
                <div class="new-thread-comment-text-mirror"></div>
                <ul role="listbox" class="tag-user-suggestion d-none position-absolute">
                    @foreach(GithubUser g in Model)
                    {
                        // image not shown by default, set to data-src, data-src is loaded into src attribute when required
                        // if too many images are loaded at once, github will throw 429 too many requests
                        <li role="option" class="tag-user-suggestion-username"><img data-src="@g.AvatarUrl" class="comment-icon align-self-start ms-2" height="28" width="28" />@@@g.Login</li>
                    }
                </ul>
            </div>
            <button type="submit" name="submit" value="Submit" class="comment-submit-button btn btn-outline-secondary">Add Comment</button>
            <button type="button" name="cancel" value="Cancel" class="comment-cancel-button btn btn-outline-secondary">Cancel</button>
            <span class="px-1 position-relative-top-1">
                <input type="checkbox" name="resolutionLock" checked class="custom-checkbox btn-outline-secondary position-relative-top-1" />
                <label for="resolutionLock" class="small">Allow Anyone To Resolve</label>
            </span>
        </form>
    </div>
</div>
<div id="js-comment-edit-form-template" class="d-none">
    <div class="comment-form border-top border-bottom new-thread-comment">
        <form data-post-update="comments" class="new-thread-comment-form comment" method="post" asp-controller="Comments" asp-action="Update">
            <div class="new-comment-content">
                <textarea class="new-thread-comment-text form-control" name="commentText" rows="3" placeholder="Click Save or press Ctrl+Enter to update your comment."></textarea>
                <div class="new-thread-comment-text-mirror"></div>
                <ul role="listbox" class="tag-user-suggestion d-none position-absolute">
                    @foreach(GithubUser g in Model)
                    {
                        // image not shown by default, set to data-src, data-src is loaded into src attribute when required
                        // if too many images are loaded at once, github will throw 429 too many requests
                        <li role="option" class="tag-user-suggestion-username"><img data-src="@g.AvatarUrl" class="comment-icon align-self-start mr-2" height="28" width="28" />@@@g.Login</li>
                    }
                </ul>
            </div>
            <input type="hidden" class="js-comment-id" name="commentId" />
            <button type="submit" name="submit" value="Submit" class="comment-submit-button btn btn-outline-secondary">Save</button>
            <button type="button" name="cancel" value="Cancel" class="comment-cancel-button btn btn-outline-secondary">Cancel</button>
        </form>
    </div>
</div> 