@using APIViewWeb.Models
@model IEnumerable<APIView.CodeDiagnostic>
@{
    var userPreference = TempData["UserPreference"] as UserPreferenceModel;
}

@if (Model.Any())
{
    string diagnosticClass = Model.First().Level switch
    {
        APIView.CodeDiagnosticLevel.Info => "code-diagnostics-info",
        APIView.CodeDiagnosticLevel.Warning => "code-diagnostics-warn",
        _ => "code-diagnostics-error"
    };
    <td colspan="3" class="@diagnosticClass">
        <div>
            @foreach (var lineDiagnostic in Model)
            {
                <p>
                    @if (lineDiagnostic.Text.StartsWith("DO"))
                    {
                        @:✅ <b>DO</b> @lineDiagnostic.Text.Substring(2)
                    }
                    else
                    {
                        @lineDiagnostic.Text
                    }

                    @if (!string.IsNullOrEmpty(lineDiagnostic.HelpLinkUri))
                    {
                        <a href="@lineDiagnostic.HelpLinkUri">Details</a>
                    }
                </p>
            }
        </div>
    </td>
}