@using APIViewWeb.Pages.Assemblies
@using System
@using System.Text.RegularExpressions
@model IndexPageModel
<select class="selectpicker show-tick show-menu-arrow p-0 mb-2" multiple title="Name" data-live-search="true" data-selected-text-format="static" data-style="btn-light border mr-2" data-width="100%" data-container="body" id="name-filter-bootstraps-select">
    @foreach (var pkgName in Model.PackageNames)
    {
        <option value="@pkgName">@pkgName</option>
    }
</select>
<select class="selectpicker show-tick show-menu-arrow p-0 mb-2" multiple data-actions-box="true" data-selected-text-format="static" title="Language" data-style="btn-light border mr2" data-width="100%" data-container="body" id="language-filter-bootstraps-select">
    <option value="^C$">C</option>
    <option value="^C#$">C#</option>
    <option value="^C\+\+$">C++</option>
    <option value="^Go$">Go</option>
    <option value="^Java$">Java</option>
    <option value="^JavaScript$">JavaScript</option>
    <option value="^Python$">Python</option>
    <option value="^Protocol$">Protocol</option>
    <option value="^Swift$">Swift</option>
    <option value="^Swagger$">Swagger</option>
    <option value="^Xml$">Xml</option>
</select>
<select class="selectpicker show-menu-arrow p-0 mb-2" data-live-search="true" title="Owner" data-selected-text-format="static" data-style="btn-light border" data-width="100%" data-container="body" id="owner-filter-bootstraps-select">

</select>
<select class="selectpicker show-menu-arrow p-0 mb-2" data-live-search="true" title="Tags" data-selected-text-format="static" data-style="btn-light border" data-width="100%" data-container="body" id="tags-filter-bootstraps-select">
    @foreach (var serviceName in Model.ServiceNames)
    {
        <option value="@serviceName">@serviceName</option>
    }
</select>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="open-filter-check">
    <label class="form-check-label" for="open-filter-check">
    Open
    </label>
</div>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="closed-filter-check">
    <label class="form-check-label" for="closed-filter-check">
    Closed
    </label>
</div>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="automatic-filter-check">
    <label class="form-check-label" for="automatic-filter-check">
    Automatic
    </label>
</div>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="manual-filter-check">
    <label class="form-check-label" for="manual-filter-check">
    Manual
    </label>
</div>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="approved-filter-check">
    <label class="form-check-label" for="approved-filter-check">
    Approved
    </label>
</div>
<div class="form-check border-bottom py-1">
    <input class="form-check-input" type="checkbox" value="" id="pending-filter-check">
    <label class="form-check-label" for="pending-filter-check">
    Pending
    </label>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mt-2"><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Reset</button>
