trigger:
  branches:
    include:
      - main
      - feature/*
      - release/*
      - hotfix/*
  paths:
    include:
      - .azure-pipelines/apiview.yml
      - src/dotnet/APIView
      - src/java/apiview-java-processor
      - src/swift
      - src/ts/ts-genapi
      - packages/python-packages/api-stub-generator
      - packages/python-packages/protocol-stub-generator

pr:
  branches:
    include:
      - main
      - feature/*
      - release/*
      - hotfix/*
  paths:
    include:
      - .azure-pipelines/apiview.yml
      - src/dotnet/APIView
      - src/java/apiview-java-processor
      - src/swift
      - src/ts/ts-genapi
      - packages/python-packages/api-stub-generator
      - packages/python-packages/protocol-stub-generator

variables:
  DotNetCoreVersion: '5.x'
  DotNetRuntimeVersion: '3.1.x'
  PythonVersion: '3.10.2'
  WebClientProjectDirectory: 'src/dotnet/APIView/APIViewWeb/Client'
  WebProjectPath: 'src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj'
  TestProjectPath: 'src/dotnet/APIView/APIViewTest/APIViewTest.csproj'
  NodeVersion: '12.x'
  BuildConfiguration: 'Release'
  PythonParserPackagePath: 'packages/python-packages/api-stub-generator'
  ProtocolParserPackagePath: 'packages/python-packages/protocol-stub-generator'
  TypeScriptGeneratorDirectory: 'src/ts/ts-genapi'
  GoParserPackagePath: 'src/go'
  GoVersion: '1.15'
  NugetSecurityAnalysisWarningLevel: 'none'

stages:
  - stage: 'Main'
    jobs:
      - job: 'Build'

        pool:
          name: azsdk-pool-mms-win-2019-general
          vmImage: MMS2019

        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '$(NodeVersion)'
            displayName: 'Use NodeJS $(NodeVersion)'

          - task: GoTool@0
            inputs:
              version: '$(GoVersion)'
            displayName: "Use Go $(GoVersion)"

          - script: |
              npm install -g npm@6.14.6
            displayName: "Install npm 6.14.6"

          - script: |
              npm install
            workingDirectory: $(WebClientProjectDirectory)
            displayName: "Install npm packages"

          - script: |
              npm run-script build
            workingDirectory: $(WebClientProjectDirectory)
            displayName: "Build client assets"

          - script: |
              npm install
            workingDirectory: $(TypeScriptGeneratorDirectory)
            displayName: "Install npm packages typescript generator"

          - script: |
              npm run-script build
            workingDirectory: $(TypeScriptGeneratorDirectory)
            displayName: "Build typescript generator"

          - task: Maven@3
            inputs:
              mavenPomFile: 'src/java/apiview-java-processor/pom.xml'
              goals: 'clean package'

            # Below 3 steps to package Python 3.10 is temporary work around until we have sandboxing ready
          - template: /eng/pipelines/templates/steps/use-python-version.yml
            parameters:
              versionSpec: '$(PythonVersion)'

          - script: |
              python --version
              pip install $(PythonParserPackagePath) $(ProtocolParserPackagePath)
              pip install virtualenv aiohttp chardet trio
            displayName: 'Setup Python Environment'

          - pwsh: |
              $pythonPath = split-path (get-command python).Path -Parent
              Write-Host "Python home path $($pythonPath)"
              copy-item -Path "$pythonPath" -Destination "$(Build.ArtifactStagingDirectory)/APIViewWeb/Python" -Recurse -Force
              Write-Host "Packaged Python"
            displayName: 'Package Python'

          - pwsh: |
              copy-item -Path $(PythonParserPackagePath) -Destination $(Build.ArtifactStagingDirectory)/APIViewWeb/api-stub-generator -Recurse -Force
              copy-item -Path $(ProtocolParserPackagePath) -Destination $(Build.ArtifactStagingDirectory)/APIViewWeb/protocol-stub-generator -Recurse -Force
            displayName: 'Bundle API Parsers'

          - script: |
              go build
            workingDirectory: $(GoParserPackagePath)
            displayName: 'Build go parser'

          - script: 'dotnet build $(WebProjectPath) -warnaserror'
            displayName: 'Build and Package'
            env:
              DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
              DOTNET_CLI_TELEMETRY_OPTOUT: 1
              DOTNET_MULTILEVEL_LOOKUP: 0

          - task: DotNetCoreCLI@2
            displayName: 'Publish site'
            env:
              DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
              DOTNET_CLI_TELEMETRY_OPTOUT: 1
              DOTNET_MULTILEVEL_LOOKUP: 0
            inputs:
              command: 'publish'
              projects: '$(WebProjectPath)'
              publishWebProjects: false
              arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
              zipAfterPublish: true

          - task: PublishBuildArtifacts@1
            inputs:
              pathtoPublish: '$(Build.ArtifactStagingDirectory)'
              artifactName: 'APIView'
              

      - job: 'Test'

        dependsOn:
          - 'Build'

        pool:
          name: azsdk-pool-mms-win-2019-general
          vmImage: MMS2019

        steps:

          - template: /eng/pipelines/templates/steps/use-python-version.yml
            parameters:
              versionSpec: '$(PythonVersion)'

          - task: DotNetCoreInstaller@2
            displayName: 'Use .NET Core sdk $(DotNetCoreVersion)'
            inputs:
              version: '$(DotNetCoreVersion)'

          - task: DotNetCoreInstaller@2
            displayName: 'Use .NET Core $(DotNetRuntimeVersion)'
            inputs:
              packageType: runtime
              version: '$(DotNetRuntimeVersion)'

          - task: DotNetCoreCLI@2
            displayName: 'Build & Test'
            env:
              DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
              DOTNET_CLI_TELEMETRY_OPTOUT: 1
              DOTNET_MULTILEVEL_LOOKUP: 0
            inputs:
              command: test
              projects: '$(TestProjectPath)'
              arguments: --logger trx
              publishTestResults: false

          - script: |
              python $(Build.SourcesDirectory)/eng/scripts/python_version_check.py
            displayName: 'Verify Python APIView version consistency'

          - script: |
              cd $(Build.SourcesDirectory)/$(PythonParserPackagePath)
              pip install tox
              tox -e pytest,stubgen
            displayName: 'Test Python Package Parser'

          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFiles: '**/*.trx'
              testRunTitle: 'Windows DotNet $(DotNetCoreVersion)'
              testResultsFormat: 'VSTest'
              mergeTestResults: true
