<nav class="navbar navbar-expand-sm navbar-toggleable-sm main-nav-cst-theme">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img id="apiview-logo" alt="apiview-logo" src="{{assetsPath}}/images/apiview.png" />apiview.dev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li *ngIf="isLoggedIn && isApprover" class="nav-item">
                    <a href="{{RequestReviewPageUrl}}" class="nav-link">Requested Reviews</a>
                </li>
                <li *ngIf="isLoggedIn"  class="nav-item">
                    <a class="nav-link position-relative" (click)="notificationsSidePanel = !notificationsSidePanel" data-clarity-region="notifications-button">
                        <i class="bi bi-bell"></i>
                        <span *ngIf="notifications.length > 0" class="position-absolute top-50 start-0 translate-middle bg-danger border border-light rounded-circle" style="padding: 0.2rem;">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-clarity-region="user-profile-menu">
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" [routerLink]="['/profile', userProfile?.userName]" target="_blank" data-clarity-region="user-profile-link">Profile</a></li>
                        <li><a class="dropdown-item" href="{{logoutPageWebAppUrl}}" data-clarity-region="user-logout-link">Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/APIView/APIViewWeb/README.md" class="nav-link" data-clarity-region="help-link">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<p-sidebar [(visible)]="notificationsSidePanel!" position="right" [modal]="true" [showCloseIcon]="false" styleClass="notifications-sidebar">
    <ng-template pTemplate="header">
        <div class="d-flex align-items-center gap-2 w-100">
            <h4 class="mb-0">Notifications</h4>
            <button type="button" class="btn btn-link btn-sm small ms-auto" *ngIf="notifications.length > 0" (click)="clearAllNotification()">Clear all</button>
        </div>
    </ng-template>
    <p-selectButton
        *ngIf="notifications.length > 0 && reviewId"
        class="notifications-filter-button"
        [options]="notificationsFilters"
        [(ngModel)]="notificationsFilter"
        (onChange)="updateNotificationsFilter($event)"
        optionLabel="label"
        optionValue="value"
        [style]="{'margin-top':'8px'}" />
    <div *ngFor="let notification of filteredNotifications()" class="toast show my-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i *ngIf="notification.level == 'error'; else notError" class="bi bi-exclamation-triangle me-2"></i>
            <ng-template #notError>
                <i class="bi bi-check-circle me-2"></i>
            </ng-template>
            <strong class="me-auto">{{ notification.title }}</strong>
            <small>{{ notification.createdOn | timeago }}</small>
            <button type="button" class="btn-close" aria-label="Close" (click)="clearNotification(notification.id)"></button>
        </div>
        <div class="toast-body" [innerHTML]="notification.message"></div>
    </div>
</p-sidebar>
