<nav class="navbar navbar-expand-sm navbar-toggleable-sm main-nav-cst-theme">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img id="apiview-logo" alt="apiview-logo" src="{{assetsPath}}/images/apiview.png" />apiview.dev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{profilePageWebAppUrl}}" target="_blank" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{logoutPageWebAppUrl}}" class="nav-link">Log Out</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/APIView/APIViewWeb/README.md" class="nav-link">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>