:host ::ng-deep {
    .p-badge {
        padding: 0 .4rem;
    }

    .side-menu {
        .p-menu {
            width: fit-content;
            min-width: unset;

            ul {
                padding: 0 0.25rem;
                margin: 0;
            }
        }

        .p-menuitem-link {
            justify-content: center;
            padding: 0.5rem 0.25rem;
            width: 100%;
        }
    }
}
