:host ::ng-deep {

    .side-menu {
        width: 3.5rem !important;
        min-width: unset !important;

        .p-menuitem-link {
            padding: 0.8rem 0.5rem !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon-wrapper {
            display: inline-flex;
            position: relative;
        }

        .menu-icon {
            font-size: 1.5rem;
        }

        .menu-badge {
            position: absolute !important;
            top: -0.6rem !important;
            right: -0.3rem !important;
            left: auto !important;

            width: 1.5rem !important;
            height: 1.5rem !important;
            padding: 0 !important;
            border-radius: 50%;

            display: flex !important;
            align-items: center !important;
            justify-content: center !important;

            font-size: 0.75rem !important;
        }
    }
}
