<app-nav-bar></app-nav-bar>
<div #mainContainer class="container-fluid main-container">
    <app-review-info
        [review]="review"
        [apiRevisions]="apiRevisions"
        [samplesRevisions]="samplesRevisions"
        [activeApiRevisionId]="activeApiRevisionId"
        [activeSamplesRevisionId]="activeSamplesRevisionId"
        [diffApiRevisionId]="diffApiRevisionId"
        [userProfile]="userProfile"
        [showPageoptionsButton]="showPageoptionsButton"
        (pageOptionsEmitter)="handlePageOptionsEmitter($event)"></app-review-info>
    <div class="mt-1" style="display: flex;">
        <div>
            <p-menu [model]="sideMenu" styleClass="side-menu">
                <ng-template pTemplate="item" let-item>
                    <a pRipple class="p-menuitem-link" pTooltip="{{item.tooltip}}" tooltipPosition="right">
                        <div class="icon-wrapper">
                            <span [class]="item.icon" class="menu-icon"></span>
                            <p-badge *ngIf="item.badge" styleClass="menu-badge" [value]="item.badge" severity="danger" />
                        </div>
                    </a>
                </ng-template>
            </p-menu>
        </div>
        <div style="flex-grow: 1; min-width: 0; margin-left: 7px;">
            <ng-content></ng-content>
        </div>
    </div>
</div>
