:host ::ng-deep {
    display: inline-block;

    .p-dropdown {
        border: none;
        .p-inputtext {
            padding: 0.0rem 0.5rem;
        }

        .p-dropdown-clear-icon {
            right: -1rem;
        }

        .p-chip .p-chip-text {
            margin-top: 0.1rem;
            margin-bottom: 0.15rem;
        }

        .p-chip {
            background-color: var(--base-fg-color);
            border: 1px solid var(--border-color);
            margin: 1px;
        }
    }

    .selected-item-content{
        max-width: 25dvw;
    }

    .api-revision-filter-button .p-selectbutton {
        display: flex;
        justify-content: space-between;
    }
    
    .api-revision-filter-button .p-selectbutton .p-button {
        flex-grow: 1;
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--link-color);
        color: var(--link-color);
        font-size: 0.85rem;
    }

    .api-revision-filter-button .p-selectbutton .p-button.p-highlight {
        color: var(--primary-btn-color);
        background-color: var(--link-color);
    }
    
    .emphasis-badge {
        border-radius: 5px;
        padding: 0px 5px 2px 5px;
        font-size: smaller;
        font-weight: bold;

        &.info {
            background-color: var(--alert-info-bg);
            color: var(--alert-info-color);
            border: 1px solid var(--alert-info-border-color);
        }

        &.warn {
            background-color: var(--alert-warn-bg);
            color: var(--alert-warn-color);
            border: 1px solid var(--alert-warn-border-color);
        }
        
        &.success {
            background-color: var(--alert-success-bg);
            color: var(--alert-success-color);
            border: 1px solid var(--alert-success-border-color);
        }

        &.secondary {
            background-color: var(--alert-secondary-bg);
            color: var(--alert-secondary-color);
            border: 1px solid var(--alert-secondary-border-color);
        }
    }
}