:host ::ng-deep {
    .selected-item-content{
        max-width: 10dvw;
    }

    .api-revision-filter-button .p-selectbutton {
        display: flex;
        justify-content: space-between;
    }
    
    .api-revision-filter-button .p-selectbutton .p-button {
        flex-grow: 1;
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--link-color);
        color: var(--link-color);
    }

    .api-revision-filter-button .p-selectbutton .p-button.p-highlight {
        color: var(--primary-btn-color);
        background-color: var(--link-color);
    }
}